$("#theme-cover-carousel").html("<%= j render 'keppler_frontend/admin/themes/covers', theme: @theme %>")
$('.theme-covers').slick({
  prevArrow: "<span class='ctrl ctrl-prev'><i class='icon icon-arrow-left'></i></span>",
  nextArrow: "<span class='ctrl ctrl-next'><i class='icon icon-arrow-right'></i></span>"
});
