$(".listing-show").html("#{j render('index_show')}")
$('.listing table').find(".active").removeClass("active")
$("#row-#{@message.id}").addClass("active")
- if KepplerContactUs::Message.where({read: nil}).count > 0
	$("#badge-message").html("#{KepplerContactUs::Message.where({read: nil}).count}")
- else
	$("#badge-message").html("")
$('#read-status-#{@message.id}').html("<i class='mi md-18  md-dark'>done</i>");
$scope = angular.element($(".listing-show")).scope()
$scope.compiledHTML($(".listing-show"))
$(".listing-show-body").trigger("click");