$('.objects-container').html("#{j render 'listing', objects: @objects}");
$('.objects-container').css('opacity', '0');
$('.spinner2').css('display', 'block');
var request = $.ajax({url: '/admin/meta_tags', method: 'get', dataType: 'html'});
request.done(function(msg){$('.spinner2').css('display', 'none');$('.objects-container').css('opacity', '1');});
