$('#draggable').html("#{j render 'listing', objects: @meta_tags}");
$('#draggable').css('opacity', '0');
$('#spinner2').css('display', 'block');
var request = $.ajax({url: "/admin/meta_tags", method: "get", dataType: "html"});
request.done(function(msg){$('#spinner2').css('display', 'none');$('#draggable').css('opacity', '1');});
