%head
	%link{ rel: "stylesheet", media: "all", href: "/assets/errors/errors.css?body=1" }
	%link{ rel: "stylesheet", media: "all", href: "/assets/lumx.css?body=1" }
	%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}