html, body, main{
	height: 100%;
}

body{
	background: $primary-color;

	@include respond-to(xs){
		background: blue;
		@include orientation(landscape){
			background: brown;
		}
	}
	@include respond-to(sm){
		background: red;
	}

	@include respond-to(md){
		background: green;
	}

	@include respond-to(lg){
		background: black;
	}

	@include respond-to(lx){
		background: pink;
	}
}
