// Starklord Stylesheets
= stylesheet_link_tag 'keppler_starklord/application', media: 'all', 'data-turbolinks-track': true
// Starklord Javascripts
= javascript_include_tag 'keppler_starklord/application', 'data-turbolinks-track': true