// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front{
	height: 100%;
	@include display(flex);
	@include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);

  &-logo{
  	img{
  		@include respond-to(xs){
  			width: 200px;
  		}
  	}
  }

  &-social{
  	margin-top: 30px;
	  ul{
	  	padding: 0px;
	  	li{
	  		@include display(inline);
	  		margin: 0px 20px;
	  		@include respond-to(xs){
	  			margin: 0px 7px;
	  		}

	  		a{
	  			color: white;
		  		font-size: 4rem;
		  		@include respond-to(xs){
		  			font-size: 2rem;
		  		}
	  		}

	  		a:hover{
	  			color: white;
	  			text-decoration: none;
	  		}
	  	}
	  }
  }
}