<!DOCTYPE html>
<html lang="en">
<head>
    <title>ActionView::Template::Types</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://api.rubyonrails.org/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://api.rubyonrails.org/css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://api.rubyonrails.org/css/github.css" type="text/css" media="screen" />
<script src="https://api.rubyonrails.org/js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://api.rubyonrails.org/js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="https://api.rubyonrails.org/js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>


    <meta property="og:title" value="ActionView::Template::Types">

  

    <meta name="keywords" content="ActionView::Template::Types class">
  
    <meta name="keywords" content="delegate_to, [], symbols">
  
</head>

<body>
    <div class="banner">
        
            <span>Ruby on Rails 5.2.1</span><br />
        
        <h1>
            <span class="type">Class</span>
            ActionView::Template::Types
            
                <span class="parent">&lt;
                    
                    <a href="https://api.rubyonrails.org/classes/Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionview/lib/action_view/template/types_rb.html">actionview/lib/action_view/template/types.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  


  


  
  


  
    <!-- Namespace -->
    <div class="sectiontitle">Namespace</div>
    <ul>
      
        <li>
          <span class="type">CLASS</span>
          <a href="Types/Type.html">ActionView::Template::Types::Type</a>
        </li>
      
    </ul>
  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>#</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="Types.html#method-c-5B-5D">[]</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>D</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="Types.html#method-c-delegate_to">delegate_to</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>S</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="Types.html#method-c-symbols">symbols</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  



  

    

    

    


    


    <!-- Methods -->
    
      <div class="sectiontitle">Class Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-c-5B-5D">
            
              <b>[]</b>(type)
            
            <a href="Types.html#method-c-5B-5D" name="method-c-5B-5D" class="permalink">Link</a>
          </div>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                <a href="javascript:toggleSource('method-c-5B-5D_source')" id="l_method-c-5B-5D_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/fc5dd0b85189811062c85520fd70de8389b55aeb/actionview/lib/action_view/template/types.rb#L48" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-c-5B-5D_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 48</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">[]</span>(<span class="ruby-identifier">type</span>)
  <span class="ruby-identifier">type_klass</span>[<span class="ruby-identifier">type</span>]
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-c-delegate_to">
            
              <b>delegate_to</b>(klass)
            
            <a href="Types.html#method-c-delegate_to" name="method-c-delegate_to" class="permalink">Link</a>
          </div>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                <a href="javascript:toggleSource('method-c-delegate_to_source')" id="l_method-c-delegate_to_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/fc5dd0b85189811062c85520fd70de8389b55aeb/actionview/lib/action_view/template/types.rb#L42" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-c-delegate_to_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 42</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">delegate_to</span>(<span class="ruby-identifier">klass</span>)
  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">type_klass</span> = <span class="ruby-identifier">klass</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-c-symbols">
            
              <b>symbols</b>()
            
            <a href="Types.html#method-c-symbols" name="method-c-symbols" class="permalink">Link</a>
          </div>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                <a href="javascript:toggleSource('method-c-symbols_source')" id="l_method-c-symbols_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/fc5dd0b85189811062c85520fd70de8389b55aeb/actionview/lib/action_view/template/types.rb#L52" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-c-symbols_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 52</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">symbols</span>
  <span class="ruby-identifier">type_klass</span><span class="ruby-operator">::</span><span class="ruby-constant">SET</span>.<span class="ruby-identifier">symbols</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
      
    
    
  
</div>

    </div>
  </body>
</html>
