// Newrocket Stylesheets
= stylesheet_link_tag 'keppler_newrocket/application', media: 'all', 'data-turbolinks-track': true
// Newrocket Javascripts
= javascript_include_tag 'keppler_newrocket/application', 'data-turbolinks-track': true