// Rocketdeprueba Stylesheets
= stylesheet_link_tag 'keppler_rocketdeprueba/application', media: 'all', 'data-turbolinks-track': true
// Rocketdeprueba Javascripts
= javascript_include_tag 'keppler_rocketdeprueba/application', 'data-turbolinks-track': true