.devise {
  background-image: url('profile-menu.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;

  .container {
    height: 100%;
    background: rgba(0, 0, 0, 1);
    animation: animationContainer 1.5s forwards;
    position: absolute;
    overflow: hidden;
  }

  @keyframes animationContainer {
    0% {
      background: rgba(0, 0, 0, 1);
    }
    100% {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  .login-footer {
    text-align: center;
    color: #e4e4e4;
    position: relative;
    bottom: 3rem;

    span{
      color: $keppler-color;
    }
  }

  .login-container {
    width: 100%;
  }

  .login-box {
    height: 70%;
  }

  .login-box-body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    top: 2rem;
    animation: animationBody 2.5s forwards;
  }

  @keyframes animationBody {
    0% {
      top: 2rem;
    }
    100% {
      top: 0;
    }
  }


  .login-logo {
    position: relative;
    top: 2rem;
    opacity: 0;
    animation: animationLogo 1.5s forwards;
    a {
      color: #e4e4e4;

      span {
        color: $keppler-color;
      }
    }
  }

  @keyframes animationLogo {
    0% {
      top: 2rem;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  .recoverable {
    position: relative;
    top: 7px;
  }

  .devise-errors {
    color: $error-color;
  }

  img {
    margin-top: 15px;
    max-width: 150px;
    width: 70px;
  }

  &-horizontal {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-box {
    width: 100%;

    h5 {
      margin: 0;
    }

    p {
      font-weight: 300;
    }
    //
    // @media #{$small-and-down} {
    //   width: 100%;
    // }

    &-header {
      color: $white;
      padding-left: 15px;
      padding-top: 80px;
    }

    &-title {
      font-family: 'Patua One', cursive;
      font-size: 30px;
      padding-bottom: 10px;
    }

    &-body {
      margin-bottom: 0;
      padding: 15px;
    }

    &-footer {
      margin-bottom: 0;
      padding: 0 15px 15px;
    }
  }
}
.input-icon{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
