.file-uploader {
  margin: 0 auto;
  max-width: 500px;
  min-height: 300px;

  .file-container {
    position: relative;
    outline: 2px dashed tint($gray, 50%);
    outline-offset: 0px;
    transition: outline-offset .15s ease;

    &:focus,
    &:hover {
      outline: 2px dashed $gray;
      outline-offset: -10px;
      transition: outline-offset .15s ease;

      .opacity {
        opacity: 1;
        transition: .3s;
      }
    }

    .opacity {
      color: $white;
      opacity: 0;
      text-shadow: 0px 0px 5px $light-black;
      transition: .3s;
    }

    input {
      cursor: pointer;
      opacity: 0;
      // outline: 2px dashed tint($gray, 50%);
      // outline-offset: -10px;
      padding: 120px 50px;
      width: 100%;
      transition: outline-offset .15s ease-in-out;

      &:focus,
      &:hover {
        // outline: 2px dashed $gray;
        // outline-offset: -20px;
        transition: .15s;
      }
    }

    .file-icon {
      font-size: 5rem;
      left: 50%;
      position: absolute;
      top: 40%;
      transform: translate(-50%, -50%);
    }

    .file-text {
      font-size: 2rem;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 60%;
      transform: translate(-50%, -50%);
    }

    .file-image {
      max-width: 100%;
    }

    .file-name {
      // color: $medium-grey;
      font-size: 1.5rem;
      left: 50%;
      max-width: 80%;
      position: absolute;
      text-align: center;
      top: 80%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  button,
  a,
  [type=submit] {
    background: $keppler-color;
    border: 0;
    color: $white;
    display: table;
    margin: 20px auto;
    outline: none;
    padding: 10px 20px;
    transition: .3s;

    &:hover {
      filter: brightness(110%);
      transition: .3s;
    }
  }

  .file-list {
    display: inline-flex;
    padding: 0;
    width: 100%;

    li {
      align-items: center;
      box-shadow: $btn-float-shadow;
      display: flex;
      height: 100px;
      justify-content: center;
      list-style: none;
      margin: 5px auto;
      max-width: 100px;
      padding: 5px;
      width: 25%;
      transition: .12s ease-in-out;

      &:hover {
        box-shadow: $btn-float-shadow-hover;
        transition: .12s ease-in-out;
      }

      i {
        font-size: 3rem;
      }
    }
  }
}
