.file-uploader {
  background: $white;
  margin: 0 auto;
  max-width: 500px;
  min-height: 250px;

  .file-container {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    height: 240px;
    justify-content: center;
    margin: 0 auto;
    outline: 2px dashed tint($gray, 50%);
    outline-offset: 0;
    position: relative;
    transition: outline-offset .15s ease;

    &:hover {
      outline: 2px dashed $gray;
      outline-offset: -5px;
      transition: outline-offset .15s ease;
    }

    .form-group {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .control-label {
      position: absolute;
      top: 20%;
    }

    input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      padding: 120px 50px;
      position: absolute;
      width: 100%;
    }

    .file-icon {
      font-size: 5rem;
    }

    .file-text {
      font-size: 2rem;
      text-align: center;
    }

    .file-image {
      max-width: 100%;
    }

    .file-name {
      font-size: 1.5rem;
      left: 50%;
      max-width: 80%;
      position: absolute;
      text-align: center;
      top: 80%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  button,
  a,
  [type=submit] {
    background: $keppler-color;
    border: 0;
    border-radius: 20px;
    color: $white;
    display: table;
    margin: 20px auto;
    outline: none;
    padding: 10px 20px;
    transition: .3s;

    &:hover {
      filter: brightness(110%);
      transition: .3s;
    }
  }
}

.already-uploaded {
  .control-label,
  .file-icon,
  .file-text,
  .file-name {
    color: $white;
    opacity: 0;
    text-shadow: 0 0 5px $light-black;
    transition: .3s;
  }

  &:hover {
    .control-label,
    .file-icon,
    .file-text,
    .file-name {
      opacity: 1;
      transition: .3s;
    }
  }
}

///////////////////// File Multiple /////////////////////

.file-multiple {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  min-height: 100px;

  .file-container {
    height: 100px;
    margin: 5px;
    padding: 10px;
    width: 100px;

    input {
      padding: 50px;
    }

    .file-icon {
      font-size: 2rem;
    }

    .file-text {
      font-size: 1rem;
    }
  }

  .file-list {
    align-items: center;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 5px;
    padding: 0;
    width: 100%;
  }

  .file-item {
    align-items: center;
    background: $white;
    box-shadow: $btn-float-shadow;
    display: flex;
    height: 100px;
    justify-content: center;
    list-style: none;
    margin: 5px;
    max-width: 100px;
    padding: 5px;
    position: relative;
    transition: .12s ease-in-out;
    width: 100px;
  }

  .file-item-background {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: .2s ease-in-out;
    width: 100%;

    i {
      font-size: 3rem;
    }
  }

  .file-icon-delete {
    font-size: 3rem;

    &.item-opacity {
      cursor: pointer;
      font-size: 2rem;
      opacity: 0;
      position: absolute;
      right: 5px;
      top: 5px;
      transition: .02s ease-in-out;
    }
  }

  .file-item:hover {
    box-shadow: $btn-float-shadow-hover;
    transition: .12s ease-in-out;

    .file-item-background {
      filter: opacity(20%);
      transition: .2s ease-in-out;
    }

    .file-icon-delete::before {
      content: '\e082'; // icon-close
      // content: '\e054'; // icon-trash
    }

    .file-icon-delete:hover {
      color: $error-color;
      transition: .02s ease-in-out;
    }

    .file-icon-delete.item-opacity {
      opacity: 1;
      transition: .02s ease-in-out;
    }
  }
}
