// .wrapper{
//   &-body{
//     .collection {
//       margin: 10px;
//     }
//   }

//   .minicolors-input {
//     height: 30px;
//     width: auto;
//     display: inline-block;
//     padding-left: 26px;
//     font-size: 2rem;
//   }

//   .control-label {
//     z-index: 1 !important;
//   }

//   &-inputs {
//     margin-bottom: 0;

//     .row {
//       margin-bottom: 0;
//     }

//     .card {
//       margin-bottom: 40px;
//     }

//     .help-inline {
//       color: $error-color;
//       position: relative;
//       top: -15px;
//     }

//     .select > .help-inline {
//       top: 0;
//     }

//     .form-actions {
//       margin: 10px;
//     }

//     .collection_radio_buttons,
//     .collection_check_boxes {
//       margin-left: 10px;
//       margin-right: 10px;
//       padding-left: 28px;
//       vertical-align: -2px;
//     }

//     .input-field.ckeditor {
//       margin-top: 30px;

//       label.ckeditor {
//         top: -25px;
//       }

//       label.ckeditor.active {
//         font-size: 16px !important;
//         top: 0;
//       }
//     }
//   }
// }
.form-section{
  padding: 30px 40px 30px 30px;
  .form-group{
    padding: 0 20px;
    margin-bottom: 50px;
    position: relative;
    input[type='text'],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="url"]{
      + label{
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all 200ms;
        padding-left: 2px;
      }
    }
    select + label{
      display: none;
    }
    input{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #bdbdbd;
      border-radius: 0;
      
      outline: 0;
      width: 100%;
      &:focus + label{
        color: blue;
      }
      &:valid + label, &[type='email']:focus + label {
        transform: translate3d(0, -110%, 0);
        opacity: 1;
        transition: .3s
      }
    }
    
  }
  
  
}
