.header-information {
  min-height: 75px;
  padding: 0 0 20px 115px;
  position: fixed;
  top: 54;
  width: 75%;
  z-index: 2;

  @media #{$medium-and-down} {
    min-width: 100%;
    width: 100%;
  }

  a {
    color: $white;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    color: $white;
    font-size: 2em;
    font-weight: 300;
    margin: 0;
  }

  small {
    color: $white;
    font-size: 1em;
    font-weight: 400;
  }
}
