.content-header.index-header{
  margin: 0 !important;
  padding: 15px 0 !important;
  @include respond-to(xs) {
    margin-top: 10px !important;
  }
  h1 {
    margin: 0 10px 0 0;
    font-size: 2.5rem;
    @include respond-to(xs) {
      font-size: 2rem;
    }
  }
}
.callout.callout-warning{
  background-color: white;
  color: #252525;
}
.custom-collapse{
  position: absolute;
  z-index: 1000;
  float: left;
  right: 60px;
  min-width: 0;
  padding: 2px;
  margin: 2px 0 0;
  font-size: 1.4rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.175);
  .panel-body{
    padding: 3px;
    a{
      color: gray;
      transition: .2s;
      padding: 0 12px 0 12px;
      &:hover{
        color: inherit;
        transition: .2s;
      }
    }
  }
}

.mixed-btn{
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;

  .btn-float{
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 40px;
    background-color: $keppler-color;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 10px 22px 22px 22px;
    font-size: 3rem;

    i{
      width: inherit;
      display: inline-block;
      text-align: center;
      color: #fff;
    }

    &:hover{
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
      transition: .3s;
      color: white;
    }
  }
}

.drop{
  color: inherit;
  cursor: pointer;
}
#preview{
  position: absolute;
  background: #5a5a5a;
  padding: 3px;
  visibility: none;
  color: #fff;
  box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
  width: 20%;
}
.actions.dropdown-menu{
  left: auto;
  right: 60px;
  width: 100px;
  min-width: 130px;
  padding: 0;
  li{
    display: list-item;
    text-align: -webkit-match-parent;
    a{
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px;
      white-space: nowrap;
      border-bottom: 1px solid #f4f4f4;
      i {
        margin-right: 10px;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
      }
    }
  }
}
.control-sidebar {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
  .tab-content {
    ul.timeline {
      &:before {
        content: none;
      }
      li{
        margin-right: 0;
        &:before{
          content: none;
        }
        .timeline-item {
          margin: 0;
          float: left;
          width: 100%;
          .time {
            font-size: 1rem;
            padding-top: 0;
          }
        }
      }

    }
  }
}
#index-show {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
  background: #f9fafc;
  border-left: 1px solid #d2d6de;
  color: #5e5e5e;
  padding-top: 50px;
  z-index: 1010;
  top: 0;
  right: -230px;
  width: 230px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  @include respond-to(xs) {
    padding-top: 100px;
  }
  a {
    color: $keppler-color;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $keppler-darken;
      transition: .3s;
    }
  }
  img {
    width: 100%;
    margin-bottom: 15px;
  }
  p {
    margin: 10px 0 0;
  }
  .tab-content{
    padding: 10px;
    ul {
      &:before{
        content: none;
      }
      li{
        margin-right: 0;
        &:before{
          content: none;
        }
        .timeline-item{
          margin: 0;
        }
      }
    }
    .actions {
      width: 100%;
      margin: 0;
      a {
        margin-right: 5px;
      }
      #close-index-show {
        margin: 0;
      }
    }
    .control-sidebar-heading {
      padding: 20px 0;
    }
  }
}
.cut-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar{
  @media screen and (min-width: 0) and (max-width: 991px) {
    right: 15px;
  }
  background-color: #fbfbfb;
  position: absolute;
  top: 15px;
  right: 70px;
  border-radius: 2px;
  font-size: 1.4rem;
  display: inline-block;
  padding: 0 5px;
  &-item {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
  }
  .disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
  }
  .mailbox-controls {
    padding: 3px 0;
  }
  .checkbox-toggle{
    .pretty{
      margin-right: 0;
      padding-right: 5px;
    }
  }
  a {
    &:hover {
      color: $keppler-color;
    }
    &:focus {
      color: inherit;
    }
  }
  .btn-group{
    border-right: 1px solid lightgray;
    padding: 0 5px;
    i{
      padding: 5px;
      color: #9e9e9e;
      transition: .2s;
      &:hover{
        color: #111;
        transition: .2s;
      }
    }
    &:last-child{
      border: none;
    }

  }
}
.breadcrumb {
  @include respond-to(xs) {
    margin-top: 20px !important;
  }
  a {
    &:hover {
      color: $keppler-color;
    }
    &:focus {
      color: inherit;
    }
  }
}
#objects-container {
  td:first-child {
    padding: 10px 20px;
  }
  td {
    padding: 0;
    a {
      display: block;
      color: inherit;
      padding: 8px;
      &:hover {
        color: inherit;
        cursor: pointer;
      }
    }
    // &:last-child{
    //   border: none;
    // }

  }
}

.ui-sortable-helper{
  display: table;
  background-color: #fdfdfd;
}
#tools{
  padding: {
    top: 5px;
  }
}
