.new-menu{
  padding: 12px;
}

a.coll{
  color: gray;
  &:active{
    color: inherit;
  }
  &:link{
    color: inherit;
  }
  &:focus{
    color: inherit;
  }
}

#objects-container {
  td:first-child {
    padding: 10px 20px;
  }
  td {
    padding: 0;
    a.show-row {
      display: block;
      color: inherit;
      padding: 8px;
      &:hover {
        color: inherit;
      }
    }
  }
}

.icon-delete {
	color: $keppler-color;
	font-size: 14px;
}

.material-icons {
  color: #999;
}
