.objects-container {
  .icon-delete {
    color: $keppler-color;
    font-size: 14px;
  }

  .material-icons {
    color: $grey;
  }

  .show-row {
    img {
      border-radius: 2px;
      cursor: zoom-in;
      height: 25px;
      object-fit: cover;
      width: 25px;
    }

    a {
      display: block;
      height: 20px;
      position: absolute;
      width: 20%;
    }
  }

  .ui-sortable-handle {
    width: 50px;
  }

  .ui-sortable-helper {
    background-color: $almost-white;
    display: table;
  }

  .open {
    position: relative;
  }
}
