#search {
  margin: 8px 0;

  .search-icon {
    color: #fff;

  }
  .search-button {
    background-color: $keppler-color;
    border-radius: 1px;
  }
  .search-button:hover {
    background-color: $keppler-color;
  }
}
