.bg-profile{
  @extend %circle-img;
  width: 100px;
  height: 100px;
}
.img-show{
  width: 100%;
}
.list-row {
  img {
    max-width: 100%;
    max-height: 300px;
  }
}
.attr-name{
  font-weight: bold;
}
