.bg-profile {
  @extend %circle-img;
  height: 100px;
  width: 100px;
}

.img-show {
  width: 100%;
}

.list-row {
  img {
    max-height: 300px;
    max-width: 100%;
  }
}

.attr-name {
  font-weight: bold;
}
