.new-message {
  margin-top: -45px;
  position: absolute;
  right: 15%;
  z-index: 1;
}

.side-img-profile {
  @extend %circle-img;
  height: 45px;
  transition: .2s;
  vertical-align: middle;
  width: 45px;
}

.sidebar-footer {
  bottom: 0;
  opacity: .1;
  padding: 10px;
  position: relative;
  transition: .2s;
  width: 100%;

  .brand img {
    height: 25px;
    margin: 0 10px;
  }

  span {
    color: $white;
    font-family: Patua One;
    margin: 0 20px;
    position: absolute;
    right: 0;
    top: 10px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.sidebar-collapse {
  transition: .2s;

  .user-panel {
    padding: {
      left: 4px;
      right: 2px;
    }

    .side-img-profile {
      height: 40px;
      transition: .2s;
      width: 40px;
    }
  }

  .sidebar-footer {
    padding: 4px;
    transition: .2s;

    .pull-right {
      display: none;
    }
  }
}
