label.keppler-switch {
  margin-bottom: 0px !important;
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  input {
    display:none;

    &.active + .slider {
      background-color: $keppler-color;
    }

    &.active + .slider {
      box-shadow: 0 0 1px $keppler-color;
    }

    &.active + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  .slider.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }

  .inline-label {
    margin-left: 70px;
    margin-top: 5px;
    opacity: .5;
    transition: opacity .3s;
    &.active {
      opacity: 1;
      transition: opacity .3s;
    }
  }

  a {
    text-decoration: none;
  }
}

.no-visible {
  display: none;
}

.row-selectable:hover {
  background-color: #f3f0f0;
  transition: all ease .3s;
  cursor: pointer;
}

label {
  margin-bottom: 0px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.active + .slider {
  background-color: $keppler-color;
}

input.active + .slider {
  box-shadow: 0 0 1px $keppler-color;
}

input.active + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  text-decoration: none;
}
