.bfh-timepicker {
  width: 50%;
}

.input-group-addon {
  border: none;
}
select.bfh-timepicker {
  width: inherit !important;
  float: none !important;
}

.bfh-timepicker-toggle {
  border: 1px solid #d2d6de;
  margin-bottom: 20px;
}
