// ToDo Stylesheets
= stylesheet_link_tag 'keppler_to_do/application', media: 'all', 'data-turbolinks-track': true
// ToDo Javascripts
= javascript_include_tag 'keppler_to_do/application', 'data-turbolinks-track': true