.connection-error
  .container-error
    %i.fa.fa-plug
    %h1= t('keppler_ga_dashboard.error_connection')

:scss
  .connection-error {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    color: #c0c0c0;

    i {
      font-size: 6rem;
    }
  }