//Desktop
.visible-md.visible-lg 
	- if current_user
		- if controller_name != "admin" and action_name == "index"
			%li{title:'Buscar'}
				%a{'ng-click'=>"show_search(false)", href: ""}
					= "<i class='fa fa-search' ></i>".html_safe
		
		%li{title:'Ir a la Web', style: "top:9px;"}
			= link_to main_app.root_path do
				= "<i class='fa fa-ellipsis-v'></i>".html_safe
