.navbar-fixed
	%nav
		.nav-wrapper				
			%a.brand-logo.switch.animated{ "ng-click" => "sidebarSwitch()", class: "btn-floating waves-effect waves-black btn-flat switch-{{sidebar}}" }
				%i.material-icons.md-24.animated menu
			%a.brand-logo.title
				Keppler
			%actions.right
				%a{ class: "btn-floating waves-effect waves-black btn-flat" }
					= material_icon.md_24.search
				= link_to users_path, class: "btn-floating waves-effect waves-black btn-flat spinner-refresh", "ng-click" => "spinnerReload()" do
					= material_icon.md_24.refresh
				%a{ class: "btn-floating waves-effect waves-black btn-flat"}
					= material_icon.md_24.more_vert