.navbar-fixed
	%nav
		.nav-wrapper				
			%a.brand-logo.switch.animated{ "ng-click" => "sidebarSwitch()", class: "btn-floating waves-effect waves-black btn-flat switch-{{sidebar}}" }
				%i.material-icons.md-24.animated menu
			%a.brand-logo.title
				Keppler
			%actions.right
				%a{ class: "btn-floating waves-effect waves-black btn-flat" }
					= material_icon.search.md_24
				%a{ class: "btn-floating waves-effect waves-black btn-flat"}
					= material_icon.refresh.md_24
				%a{ class: "btn-floating waves-effect waves-black btn-flat"}
					= material_icon.more_vert.md_24