main
  .front
    height: 120vh
    position: relative
    width: 100%
    z-index: 1
    .languages
      display: flex
      margin: 50px
      position: absolute
      z-index: 9
      a
        color: #fff
        display: block
        font-family: "Open Sans", sans-serif
        font-size: 17px
        padding: 0 1rem
        line-height: 20px
        position: relative
        transition: all ease-in-out .3s
        &:first-child
          border-right: 2px solid $white
        &.active-lang
          font-weight: bold
    .btn-main
      background-color:  #f44336
      border-radius: 30px
      color:  white
      cursor: pointer
      font-weight:  600
      margin: 40px 50px
      padding: 11px 20px 8px 20px
      position: absolute
      right: 0
      z-index: 9
    .front-content
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 80%
      left: 0px
      top: 0px
      position: absolute
      width: 100%
    .front-logo
      z-index: 2
      span
        color: $white
        font-family: $putua
        font-size: 140px
    .front-social
      ul
        margin: 0
        display: table
        li
          display: inline-flex
          list-style: none
          &:first-child
            margin-left:  0
    .front-footer
      position: fixed
      top: 400px
      width: 100%
    .mouse-scroll
      position: fixed
      top: 400px
      width: 100%
      .mouse
        width: 20px
        height: 40px
        padding: 6px
        border: solid 2px #fff
        border-radius: 20px
        margin: 0 auto
        .scroll
          width: 4px
          height: 10px
          background: #fff
          border-radius: 20px
          animation-name: scroll-down
          animation-duration: 1s
          animation-iteration-count: infinite