main
  .front
    height: 120vh
    position: relative
    width: 100%
    z-index: 1
    .btn-main
      background-color:  #f44336
      color:  white
      font-weight:  600
      padding: 11px 20px 8px 20px
      border-radius: 30px
      float: right
      margin: 50px
    .front-content
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 80%
      left: 0px
      top: 0px
      // padding: 0px 60px
      position: absolute
      width: 100%
    .front-logo
      z-index: 2
      img
        margin: 0
    .front-social
      ul
        margin: 0
        display: table
        li
          display: inline-flex
          list-style: none
          &:first-child
            margin-left:  0
    .front-footer
      position: fixed
      top: 400px
      width: 100%
    .mouse-scroll
      position: fixed
      top: 400px
      width: 100%
      .mouse
        width: 20px
        height: 40px
        padding: 6px
        border: solid 2px #fff
        border-radius: 20px
        margin: 0 auto
        .scroll
          width: 4px
          height: 10px
          background: #fff
          border-radius: 20px
          animation-name: scroll-down
          animation-duration: 1s
          animation-iteration-count: infinite
  #documentation
    padding: 50px
    font-family: $raleway
    color: rgba(36,45,75,1)
    background-color: $white
    h3
      font-family: $putua
    a, a:focus, a:hover
      color: #f33e3c

  @keyframes scroll-down
    0%
      margin-top: 0
    30%
      margin-top: 5px
    50%
      margin-top: 3px
    100%
      margin-top: 0
