%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-121648466-1"}
- if Rails.env.production? && @setting.google_analytics_setting.ga_status
	- if Script.get_script(request)
		- tracking = Script.get_script(request).script
	- unless tracking
		- tracking = @setting.google_analytics_setting.ga_tracking_id

	:javascript
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', "#{tracking}");
