-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top.app-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.brand-logo Keppler
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'app/layouts/navigation_links'
