.listing-show-header
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Módulo de usuarios
		%p Aquí podrá gestionar todos los usuarios del sistema, ofrece opciones para crear, editar, eliminar y visualizar, tambien tiene la opción de asignar roles para controlar el acceso de sus usuarios en la aplicación.