.listing-show-header
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
	
		%h5 
			%i.fa.fa-clock-o
			Historial de actividades
		%br                                  
		- @activities.each do |activity|
			.activity
				= render_activity activity