
<div class="pizza"></div>
<div class="container">
  <h1> Hello template </h1>
  <ul class="list-group">
    <%- @views.each do |view| %>
      <li class="list-group-item"><%= view.name %></li>
    <%- end %>
  </ul>
</div>
