<keppler-view id='index'>
  <!-- Keppler Section -->
  <div id="iyxmq">
    <div id="i8kp1" class="container">
      <h1 id="idmc" class="home-title"> index template </h1>
      <div id="ig9zm">
        <div id="ixlhx" class="bstp-row row">
          <div class="bstp-column col-lg-4 col-sm-4 col-xs-12">
            <keppler-no-edit id="text-no-edit">
              <p><%= "chaoooo" %></p>
              <div id="i9ncy">
                <div class="thumbnail">
                  <img src="https://dummyimage.com/400x300/9e9e9e/000000.jpg" alt="...">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit rutrum enim suspendisse ridiculus non dui velit, scelerisque pharetra mattis ultrices felis porttitor integer ullamcorper mauris tortor arcu nisi urna.</p>
                    <p>
                      <a href="#" role="button" class="btn btn-primary">Button</a>
                      <a href="#" role="button" class="btn btn-default">Button</a>
                    </p>
                  </div>
                </div>
              </div>
            </keppler-no-edit>
          </div>
          <div id="ig81i" class="bstp-column col-lg-4 col-sm-4 col-xs-12"></div>
          <div class="bstp-column col-lg-4 col-sm-4 col-xs-12">
            <keppler-no-edit id="text-no-edit">
              jajaja
            </keppler-no-edit>
          </div>
        </div>
      </div>
    </div>
  </div>
</keppler-view>