<keppler-view id='index'>
  <!-- Keppler Section -->
  <div id="kppl-r0ch">
    <div id="j1" class="jumbotron">
      <h1 id="kppl-068a">Hello, world!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p id="kppl-wks">
        <a href="#" role="button" class="btn btn-primary btn-lg" id="kppl-8rf">Get Started</a>
      </p>
    </div>
  </div>
</keppler-view>