%body
  %header.header_area
    .top_menu.row.m0
      .container
        .float-left
          %a{:href => "mailto:support@colorlib.com"} support@colorlib.com
          %a{:href => "#"} Welcome to Catalouge
        .float-right
          %ul.header_social
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-dribbble
            %li
              %a{:href => "#"}
                %i.fa.fa-behance
    .main_menu
      %nav.navbar.navbar-expand-lg.navbar-light.main_box
        .container
          / Brand and toggle get grouped for better mobile display
          %a.navbar-brand.logo_h{:href => "index.html"}
            %img{:alt => "", :src => "/assets/themes/listashop/logo.png"}/
          %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Collect the nav links, forms, and other content for toggling
          #navbarSupportedContent.collapse.navbar-collapse.offset
            %ul.nav.navbar-nav.menu_nav.ml-auto
              %li.nav-item.active
                %a.nav-link{:href => "index.html"} Home
              %li.nav-item.submenu.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Shop
                %ul.dropdown-menu
                  %li.nav-item
                    %a.nav-link{:href => "category.html"} Shop Category
                  %li.nav-item
                    %a.nav-link{:href => "single-product.html"} Product Details
                  %li.nav-item
                    %a.nav-link{:href => "checkout.html"} Product Checkout
                  %li.nav-item
                    %a.nav-link{:href => "cart.html"} Shopping Cart
                  %li.nav-item
                    %a.nav-link{:href => "confirmation.html"} Confirmation
              %li.nav-item.submenu.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Blog
                %ul.dropdown-menu
                  %li.nav-item
                    %a.nav-link{:href => "blog.html"} Blog
                  %li.nav-item
                    %a.nav-link{:href => "single-blog.html"} Blog Details
              %li.nav-item.submenu.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Pages
                %ul.dropdown-menu
                  %li.nav-item
                    %a.nav-link{:href => "login.html"} Login
                  %li.nav-item
                    %a.nav-link{:href => "tracking.html"} Tracking
                  %li.nav-item
                    %a.nav-link{:href => "elements.html"} Elements
              %li.nav-item
                %a.nav-link{:href => "contact.html"} Contact
            %ul.nav.navbar-nav.navbar-right
              %li.nav-item
                %a.cart{:href => "#"}
                  %i.lnr.lnr.lnr-cart
              %li.nav-item
                %a.search{:href => "#"}
                  %i.lnr.lnr-magnifier
  / ================Header Menu Area =================
  / ================Home Banner Area =================
  %section.home_banner_area
    .banner_inner.d-flex.align-items-center
      .container
        .banner_content.row
          .col-lg-5
            %h3
              Georgia Helmet
              = succeed "Collections!" do
                %br/
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            %a.white_bg_btn{:href => "#"} View Collection
          .col-lg-7
            .halemet_img
              %img{:alt => "", :src => "/assets/themes/listashop/helmat.png"}/
  / ================End Home Banner Area =================
  / ================Feature Product Area =================
  %section.feature_product_area
    .main_box
      .container
        .row.hot_product_inner
          .col-lg-6
            .hot_p_item
              %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/hot-p-1.jpg"}/
              .product_text
                %h4
                  Hot Deals of
                  = succeed "this" do
                    %br/
                %a{:href => "#"} Shop Now
          .col-lg-6
            .hot_p_item
              %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/hot-p-2.jpg"}/
              .product_text
                %h4
                  Hot Deals of
                  = succeed "this" do
                    %br/
                %a{:href => "#"} Shop Now
        .feature_product_inner
          .main_title
            %h2 Featured Products
            %p Who are in extremely love with eco friendly system.
          .feature_p_slider.owl-carousel
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-1.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-2.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-3.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-4.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-1.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-2.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-3.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .item
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-4.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
  / ================End Feature Product Area =================
  / ================Deal Timer Area =================
  %section.timer_area
    .container
      .main_title
        %h2 Exclusive Hot Deal Ends Soon!
        %p Who are in extremely love with eco friendly system.
        %a.main_btn{:href => "#"} Shop Now
      .timer_inner
        #timer.timer
          .timer__section.days
            .timer__number
            .timer__label days
          .timer__section.hours
            .timer__number
            .timer__label hours
          .timer__section.minutes
            .timer__number
            .timer__label Minutes
          .timer__section.seconds
            .timer__number
            .timer__label seconds
  / ================End Deal Timer Area =================
  / ================Latest Product Area =================
  %section.feature_product_area.latest_product_area
    .main_box
      .container
        .feature_product_inner
          .main_title
            %h2 Latest Products
            %p Who are in extremely love with eco friendly system.
          .latest_product_inner.row
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-1.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-2.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-3.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-4.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-5.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-6.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-7.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
            .col-lg-3.col-md-4.col-sm-6
              .f_p_item
                .f_p_img
                  %img.img-fluid{:alt => "", :src => "/assets/themes/listashop/f-p-8.jpg"}/
                  .p_icon
                    %a{:href => "#"}
                      %i.lnr.lnr-heart
                    %a{:href => "#"}
                      %i.lnr.lnr-cart
                %a{:href => "#"}
                  %h4 Long Sleeve TShirt
                %h5 $150.00
  / ================End Latest Product Area =================
  / ================Clients Logo Area =================
  %section.clients_logo_area
    .container
      .main_title
        %h2 Top Brands of this Month
        %p Who are in extremely love with eco friendly system.
      .clients_slider.owl-carousel
        .item
          %img{:alt => "", :src => "/assets/themes/listashop/c-logo-1.png"}/
        .item
          %img{:alt => "", :src => "/assets/themes/listashop/c-logo-2.png"}/
        .item
          %img{:alt => "", :src => "/assets/themes/listashop/c-logo-3.png"}/
        .item
          %img{:alt => "", :src => "/assets/themes/listashop/c-logo-4.png"}/
        .item
          %img{:alt => "", :src => "/assets/themes/listashop/c-logo-5.png"}/
  / ================End Clients Logo Area =================
  / ================Most Product Area =================
  %section.most_product_area
    .main_box
      .container
        .main_title
          %h2 Most Searched Products
          %p Who are in extremely love with eco friendly system.
        .row.most_product_inner
          .col-lg-3.col-sm-6
            .most_p_list
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-1.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-2.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-3.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
          .col-lg-3.col-sm-6
            .most_p_list
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-4.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-5.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-6.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
          .col-lg-3.col-sm-6
            .most_p_list
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-7.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-8.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-9.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
          .col-lg-3.col-sm-6
            .most_p_list
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-10.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-11.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
              .media
                .d-flex
                  %img{:alt => "", :src => "/assets/themes/listashop/m-product-12.jpg"}/
                .media-body
                  %a{:href => "#"}
                    %h4 Black lace Heels
                  %h3 $189.00
  / ================End Most Product Area =================
  / ================ start footer Area  =================
  %footer.footer-area
    .container
      .row
        .col-lg-3.col-md-6.col-sm-6
          .single-footer-widget
            %h6.footer_title About Us
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .col-lg-4.col-md-6.col-sm-6
          .single-footer-widget
            %h6.footer_title Newsletter
            %p Stay updated with our latest trends
            #mc_embed_signup
              %form.subscribe_form.relative{:action => "https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01", :method => "get", :target => "_blank"}
                .input-group.d-flex.flex-row
                  %input{:name => "EMAIL", :onblur => "this.placeholder = 'Email Address '", :onfocus => "this.placeholder = ''", :placeholder => "Email Address", :required => "", :type => "email"}/
                  %button.btn.sub-btn
                    %span.lnr.lnr-arrow-right
                .mt-10.info
        .col-lg-3.col-md-6.col-sm-6
          .single-footer-widget.instafeed
            %h6.footer_title Instagram Feed
            %ul.list.instafeed.d-flex.flex-wrap
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-01.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-02.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-03.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-04.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-05.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-06.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-07.jpg"}/
              %li
                %img{:alt => "", :src => "/assets/themes/listashop/Image-08.jpg"}/
        .col-lg-2.col-md-6.col-sm-6
          .single-footer-widget.f_social_wd
            %h6.footer_title Follow Us
            %p Let us be social
            .f_social
              %a{:href => "#"}
                %i.fa.fa-facebook
              %a{:href => "#"}
                %i.fa.fa-twitter
              %a{:href => "#"}
                %i.fa.fa-dribbble
              %a{:href => "#"}
                %i.fa.fa-behance
      .row.footer-bottom.d-flex.justify-content-between.align-items-center
        %p.col-lg-12.footer-text.text-center
          / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          Copyright ©2018 All rights reserved | This template is made with
          %i.fa.fa-heart-o{"aria-hidden" => "true"}
          by
          %a{:href => "https://colorlib.com", :target => "_blank"} Colorlib
          / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
  / ================ End footer Area  =================
