<keppler-view id="index">
  <!-- Keppler Section -->
  <div id="kppl-apag">
    <keppler-no-edit id="area_one">
      <%= 'area_one' %>
    </keppler-no-edit>
    <h1 id="kppl-mfl">Test Index 7</h1>
    <div id="kppl-9nx" class="container">
      <h1>Container</h1>
      <div id="kppl-yyc2" class="bstp-row row">
        <div class="bstp-column col-lg-4 col-sm-4 col-xs-12">
          <div id="kppl-ez27">
            <div class="panel panel-default">
              <div class="panel-heading">Panel heading without title</div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </div>
        </div>
        <div class="bstp-column col-lg-4 col-sm-4 col-xs-12">
          <div id="kppl-1amw">
            <div class="panel panel-default">
              <div class="panel-heading">Panel heading without title</div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </div>
        </div>
        <div class="bstp-column col-lg-4 col-sm-4 col-xs-12">
          <div id="kppl-h07i">
            <div class="panel panel-default">
              <div class="panel-heading">Panel heading without title</div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="kppl-wdrl"></div>
</keppler-view>