<keppler-view id='index'>
  <!-- Keppler Section -->
  <keppler-no-edit id="header-title">
    <h1 id="idmc" class="home-title"><%= "Index Template" %></h1>
  </keppler-no-edit>
  <keppler-no-edit id="text-no-edit-2">
    <p><%="jajajaja"%></p>
  </keppler-no-edit>
</keppler-view>