<keppler-view id='index'>
  <!-- Keppler Section -->
  <div id="j1" class="jumbotron">
    <div id="iqrl1">
      <div id="iasim" class="container">
        <h1 id="iru4n">Agencia Tecnológica</h1>
        <p id="irscd">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        </p>
        <p id="ixotl">
          <a href="#" role="button" id="iwxyy" class="btn btn-primary btn-lg">Get Started</a>
        </p>
      </div>
    </div>
  </div>
  <div id="iww84">
    <div id="i4xpq" class="container">
      <div id="imjnf"></div>
      <h1 id="iax1">Esta lista no puede ser editada</h1>
      <keppler-no-edit id="saludos">
        <ul>
          <%- @saludos.each do |saludo|%>
            <li><%= saludo %></li>
          <% end %>
        </ul>
      </keppler-no-edit>
    </div>
  </div>
</keppler-view>