.paginator-module {
  .btn-pag {
    background-color: $bfc5c5;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 2.7;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: .3s;
    vertical-align: middle;
    width: 40px;
    z-index: 1;
  }

  .icon-size {
    line-height: unset;
  }

  .bg-current {
    background-color: $keppler-color;
  }

  .bg-not {
    color: $white;
  }

  .btn-not {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: .3s;
    vertical-align: middle;
    width: 40px;
    z-index: 1;
  }
}

.badge.objects-counter {
  background: transparent;
  border-radius: 1px;
  color: $grey;
  font-weight: 400;
  margin-bottom: 5px;
}
