@import "../core/main";
.discover{
	font-family: $raleway;
	#home{
		background-image: image-url("frontend/discover/home.jpg");
		color: white;
		height: 500px;
		padding: 3%;

		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
		}
	}
}