@import "../core/main";
.kiteboarding{
	font-family: $raleway;
	#home{
		background: image-url("frontend/kiteboarding/home.jpg");	
		background-size: cover;
		background-position: 20% 0%;
		color: white;
		height: 500px;
		padding: 3%;

		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
		}
	}
}