-# - if !params[:editor] && Rails.env.eql?("development")
-#   %a{ href: "#{request.path}?editor=true"} Editor

- if params[:editor] && current_user.rol.eql?('keppler_admin') && Rails.env.eql?("development")
  = javascript_include_tag 'keppler_frontend/app/grapes/grapes-editor.js', 'data-turbolinks-track': 'reload'
  = Gon::Base.render_data