<!DOCTYPE html>
<html id="keppler-html">
  <head>
    <%= set_head %>
  </head>
  <body id="keppler-editor">
    <keppler-header>
      <!-- Keppler Section -->
    </keppler-header>
    <%= yield %>
    <keppler-footer>
      <!-- Keppler Section -->
    </keppler-footer>
    <!-- end keppler-footer -->
  </body>
  <%= keppler_editor %>
</html>