<!DOCTYPE html>
<html id="keppler-html">
  <!-- begin head -->
  <head>
    <%= set_head %>
  </head>
  <!-- end head -->

  <body id="keppler-editor">
    <!-- begin keppler-header -->
    <keppler-header>
      <!-- Keppler Section -->
    </keppler-header>
    <!-- end keppler-header -->


    <keppler-body>
      <%= yield %>
    </keppler-body>

    <!-- begin keppler-footer -->
    <keppler-footer>
      <!-- Keppler Section -->
    </keppler-footer>
    <!-- end keppler-footer -->
  </body>
  <%= keppler_editor %>
</html>
