<!DOCTYPE html>
<html>
  <head>
    <%= set_head %>
  </head>
  <body>
    <keppler-header>
      <h1>Keppler</h1>
    </keppler-header>

    <keppler-body>
      <%= yield %>
    </keppler-body>

    <keppler-footer>
      <small>Copyright 2018</small>
    <keppler-footer>
  </body>
</html>
