<!DOCTYPE html>
<html id="keppler-html">
  <head>
    <%= set_head %>
  </head>
  <body id="keppler-editor">
    <keppler-header>
      <!-- Keppler Section -->
      <div id="kppl-h80s">
        <h1 id="kppl-ujou" class="heading">Insert title here 23</h1>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
    </keppler-header>
    <%= yield %>
    <keppler-footer>
      <!-- Keppler Section -->
      <div id="kppl-72r8"></div>
    </keppler-footer>
  </body>
  <%= keppler_editor %>
</html>