<!DOCTYPE html>
<html id="keppler-html">
  <head>
    <%= set_head %>
  </head>
  <body id="keppler-editor">
    <keppler-header>
      <!-- Keppler Section -->
      <div id="iop07">
        <nav id="i77x3" class="navbar navbar-default">
          <div id="ippnf" class="container-fluid">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="#" id="ikgjz" class="navbar-brand">Slice Group</a>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li id="ijqn4"></li>
                <li id="igu42">
                  <a href="#" id="i4zqj">Inicio</a>
                </li>
                <li>
                  <a href="#">Nosotros</a>
                </li>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="in6k2" class="dropdown-toggle">Servicios&nbsp;
                    <span data-highlightable="1" id="ila9f" class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Action</a>
                    </li>
                    <li>
                      <a href="#">Another action</a>
                    </li>
                    <li>
                      <a href="#">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#">Separated link</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#">One more separated link</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" placeholder="Search" id="igbiz" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#" id="isv6w">Login</a>
                </li>
                <li class="dropdown">
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Action</a>
                    </li>
                    <li>
                      <a href="#">Another action</a>
                    </li>
                    <li>
                      <a href="#">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#">Separated link</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div id="ixaq7"></div>
    </keppler-header>
    <%= yield %>
    <keppler-footer>
      <!-- Keppler Section -->
      <h1 id="iqruz">Footer</h1>
    </keppler-footer>
  </body>
  <%= keppler_editor %>
</html>