<!DOCTYPE html>
<html>
  <head>
    <%= set_head %>
  </head>
  <body>
    <keppler-header>
    </keppler-header>

    <keppler-body>
      <%= yield %>
    </keppler-body>

    <keppler-footer>
    <keppler-footer>
  </body>
</html>
