<!DOCTYPE html>
<html>
  <!-- begin head -->
  <head>
    <%= set_head %>
  </head>
  <!-- end head -->
  <body>
    <!-- begin keppler-header -->
    <keppler-header>
    </keppler-header>
    <!-- end keppler-header -->

    <keppler-body>
      <%= yield %>
    </keppler-body>

    <!-- begin keppler-footer -->
    <keppler-footer>
    </keppler-footer>
    <!-- end keppler-footer -->
  </body>
</html>
