//= require material_icons
//= require animate
//= require_self

@import "materialize";
@import "devise";
@import "base";
@import "navbar";
@import "pageslide";
@import "header_information";
@import "dashboard"; //dashboard gem
@import "index";
@import "show";
@import "form";
@import "search";







