//= require material_icons
//= require animate
//= require_self

@import 'bourbon';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'materialize';
@import 'utils/variables';
@import 'utils/mixins';
@import 'pages/layout';
@import 'pages/devise';
@import 'pages/navbar';
@import 'pages/pageslide';
@import 'pages/header';
@import 'pages/listing';
@import 'pages/show';
@import 'pages/form';
@import 'pages/search';
@import 'pages/themes';
@import 'dashboard'; //dashboard gem







