//= require material_icons
//= require animate
//= require_self

@import "materialize";
@import "pages/layout";
@import "pages/devise";
@import "pages/navbar";
@import "pages/pageslide";
@import "pages/header_information";
@import "pages/index";
@import "pages/show";
@import "pages/form";
@import "pages/search";
@import "dashboard"; //dashboard gem







