.devise{
	padding-top: 50px;
	.devise-box{
		margin-top: 0px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		.devise-box-header{
			background: #F44336;
			padding-top: 80px;
			padding-left: 15px;
			color: white;
		}
		.devise-box-body{
			padding: 15px;			
			.devise-errors{
				color: #F44336;
			}
			.devise-logo{
				width: 150px;
				margin-top: 15px;
			}
		}

	}
}