.navbar-fixed{
	height: 54px;
}

nav{
	height: 54px;
	padding: 9px 16px 12px 16px;
	background: $primary-color;
	box-shadow: none;
	@media #{$small-and-down} {
		min-width: 100%;
	}
	@media #{$medium-and-down} {
		min-width: 100%;
	}
	.nav-wrapper{
		line-height: 30px;
		i{
			line-height: 38px;
			height: 34px;
		}
		.btn-floating:hover{
			box-shadow: none !important;
		}
		.switch{
			position: relative;
			left: 0px;
			top: -5px;
			@media #{$medium-and-down} {
				top: 0px;
				left: 10px;
			}
		}
		.title{
			font-family: 'Patua One', cursive;
			position: relative;
			left: 10px;
			font-size: 30px;
		}
		.dropdown-content{
			top: 45px !important;
			border-radius: 2px !important;
			background-color: #FFFFFF !important;
			overflow: hidden !important;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
			li{
				a{
					font-size: 0.8em;
					color: rgb(81, 81, 81);
					padding: 5px 10px 5px 10px;
				}
			}
		}
	}
}

