.form-search{
	position: relative;
	margin-left: 30px;
	top: -54px;
	display: inline;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	@media #{$small-and-down} {
		margin-left: 0px;
		top: 0px;
	}
	#search{
		border: 0px;
		border-bottom: 0px;
		height: 35px;
		margin: 0px 0px 0px 0px;
		padding: 0 10px 0 40px;
		font-size: 18px;
		width: 500px;
		border-radius: 2px;
		box-shadow: none;
		color: white;
		background-color: rgba(0, 0, 0, 0.16);
		background-image: url(search.png);
	  background-repeat: no-repeat;
	  background-position: 10px center;
	  @media #{$small-and-down} {
			width: 51%;
			background-image: none;
			padding: 0 5px 0 5px;
		}
	}
	#search:focus{
		background-color: rgba(0, 0, 0, 0.25);
	}
	i.close-top-search{
	  font-size: 23px;
	  font-style: normal;
	  color: rgba(0, 0, 0, 0.38);
	  width: 35px;
	  text-align: center;
	  border-radius: 2px;
	  cursor: pointer;
	  display: inline;
	  padding: 3px 10px 4px 10px;
	  @media #{$small-and-down} {
			right: 5px;
		}
	}
	i.close-top-search:hover{
		background-color: rgba(0, 0, 0, 0.15);
		color: #000;
	}
}


.form-search-true{
	opacity: 1;
	top: -3px;
	@media #{$small-and-down} {
		top: 0px;
	}
}