menu:
  dashboard:
    name: dashboard
    url_path: /admin/dashboard
    icon: dashboard
    current: ['keppler_ga_dashboard/dashboard']
  seo:
    name: SEO
    current: ['admin/meta_tags', 'admin/google_adwords']
    icon: code
    model: MetaTag
    submenu:
      - meta_tags:
          name: 'Title & Metas'
          url_path: /admin/meta_tags
          current: ['admin/meta_tags']
      - google_adwords:
          name: Google Adwords
          url_path: /admin/google_adwords
          current: ['admin/google_adwords']
  google_analytics_track:
    name: google analytics tracks
    url_path: /admin/google_analytics_tracks
    icon: insert_chart
    current: ['admin/google_analytics_tracks']
    model: GoogleAnalyticsTrack
  user:
    name: users
    url_path: /admin/users
    icon: account_circle
    current: ["admin/users"]
    model: User
  setting:
    name: setting
    current: ['admin/settings']
    icon: settings
    model: Setting
    submenu:
      - basic_information:
          name: Basic information
          url_path: /admin/settings/basic_information
          current: ['basic_information']
      - smtp_setting:
          name: Email setting (SMTP)
          url_path: /admin/settings/email_setting
          current: ['email_setting']
      - google_analytics_setting:
          name: Google analytics
          url_path: /admin/settings/google_analytics_setting
          current: ['google_analytics_setting']
      - social_account:
          name: Social Accounts
          url_path: /admin/settings/social_accounts
          current: ['social_accounts']
      - appearance:
          name: Appearance
          url_path: /admin/settings/appearance
          current: ['appearance']
