= f.simple_fields_for :social_account do |f|
	- @social_medias.each do |social|
		.row
			.col.s12
				= f.input social
		:javascript
			$("#setting_social_account_attributes_#{social}").before(`<i class="material-icons prefix fa fa-#{social.to_s.split('_').join('-')}"></i>`)
:sass
	i
		opacity: .7
