%h2 Not found
%small 404
%footer
	- if !loggedin? or (loggedin and current_user.has_role? :client)
		= link_to "#{icon(:home)}".html_safe, root_path
	- else
		= link_to "#{icon(:home)}".html_safe, dashboard_admin_index_path
