%script{src:"https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"}
%body.permission_denied
  #particles-js
  .denied__wrapper
    %h1 404
    %h3
      Looks like this page doesn't exist
    %svg#astronaut{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
      :css
        .st00{fill:none;} .st11{fill:#504E55;} .st22{fill:#F39E72;} .st33{fill:#FFFFFF;} .st44{opacity:0.24;} .st55{fill:#77574E;} .st66{fill:#FBD68D;} .st77{fill:#ECECEC;} .st88{fill:#F4A89C;} .st99{fill:#CFC9E5;} .st100{opacity:0.28;} .st111{opacity:0.25;} .st122{fill:#6F635C;} .st133{fill:#DAE7BE;} .st144{fill:#FFE0A6;} .st155{fill:#5F5E60;} .st166{fill:#CFE1AF;} .st177{fill:#EBE9F5;} .st188{fill:#53515A;} .st199{opacity:0.42;} .st200{fill:#53515B;}
      %circle.st00{:cx => "256.8", :cy => "255.3", :r => "247.9"}
      %path.st22{:d => "M346.4 475H164.9V244.8c0-14 11.4-25.4 25.4-25.4H321c14 0 25.4 11.4 25.4 25.4V475z"}
      %path.st11{:d => "M346.4 470H165l5 5V349.9v-80-21.4c0-10.3 3.9-20.3 15-23.3 6.4-1.8 14.2-.7 20.7-.7h112.4c3.3 0 6.5 0 9.7 1.1 8.3 2.9 13.5 10.7 13.7 19.3.1 4.1 0 8.3 0 12.5v217.7c0 6.4 10 6.4 10 0v-130-79.5-19.1c-.1-13.8-7.6-26-21-30.5-7.2-2.4-15.8-1.5-23.3-1.5H192.9c-14.8 0-28.7 8.4-32 23.6-1.1 5.2-.8 10.8-.8 16.1V475c0 2.7 2.3 5 5 5h181.4c6.3 0 6.3-10-.1-10z"}
      %path.st33{:d => "M164.9 250.3v120.3c0 6-4.9 11-11 11-17.6 0-31.9-14.4-31.9-31.9v-78.3c0-17.6 14.4-31.9 31.9-31.9 3 0 5.8 1.2 7.7 3.2 2.1 1.8 3.3 4.5 3.3 7.6z"}
      %path.st11{:d => "M159.9 250.3v109.1c0 3.9 1.3 10.8-1 14.3-4.4 7-17.5.4-22.1-3.4-6.2-5.2-9.7-12.7-9.8-20.8-.3-17.8 0-35.6 0-53.3 0-8.3-.1-16.5 0-24.8.1-7.7 3.1-14.9 8.9-20.1 4.7-4.3 23.2-13.2 24-1 .4 6.4 10.4 6.4 10 0-1.7-24.7-33-15.8-43.8-3.2-7.7 9-9.1 19.5-9.1 30.8v68.7c0 13.3 4.7 25.4 15.8 33.3 12.2 8.7 36.4 10.9 37.1-9.5.7-19.1 0-38.3 0-57.4v-62.6c0-6.6-10-6.6-10-.1z"}
      %path.st11{:d => "M122 339.8h42.9c6.4 0 6.4-10 0-10H122c-6.4 0-6.4 10 0 10z"}
      %path.st44.st55{:d => "M344.4 241v235.9h-36V232.1c0-4.8-2.2-9.2-5.9-12.8h11.7c16.6.1 30.2 9.8 30.2 21.7z"}
      %path.st66{:d => "M376 161.2c0 66.4-53.9 120.3-120.3 120.3s-120.3-53.9-120.3-120.3c0-40.5 20-76.2 50.6-98.1 19.7-14 43.7-22.2 69.7-22.2s50 8.2 69.7 22.2C356 84.9 376 120.7 376 161.2z"}
      %path.st11{:d => "M371 161.2c-.3 45-26.7 86.2-67.7 105.1-40.7 18.7-90.5 11.1-123.9-18.6-34.7-30.8-47.8-80.2-32.7-124.2 4-11.7 10-22.7 17.5-32.5 3.6-4.7 7.6-9.1 11.9-13.2 1.8-1.7 3.6-3.3 5.4-4.9 1.1-.9 2.2-1.9 3.4-2.8.8-.6 1.6-1.3 2.5-1.9-1.8-.1-1.8-.2 0-.4 21.7-16.2 50.1-23.6 77-21.8C324 50.3 370.6 101.8 371 161.2c0 6.4 10 6.4 10 0-.4-55.8-38.1-106.2-92.3-120.9-28.7-7.8-59.6-5-86.4 7.5-3.2 1.5-6.3 3.1-9.3 4.9-1.6.9-3.2 1.9-4.8 2.9-.6.4-1.4.8-2 1.3-.4.3-.9.6-1.3.9.4.1.8.2 1.2.2-.3.3-1.5.2-1.9.4l-2.4 1.5c-1.1.8-2.2 1.7-3.3 2.6-2.7 2.1-5.3 4.3-7.8 6.6-9.6 8.9-17.9 19.4-24.2 30.8-25.2 45-19.6 102 13.3 141.5 31.5 37.9 84.1 53.8 131.4 39.9 46.1-13.6 81.7-53.9 88.6-101.6.9-6.2 1.4-12.4 1.4-18.7-.2-6.3-10.2-6.3-10.2.2z"}
      %path.st33{:d => "M249.6 478.1h-96.4c-2.7 0-4.8-2.2-4.8-4.8v-10.8c0-27.2 22.3-49.5 49.5-49.5h7c27.2 0 49.5 22.3 49.5 49.5v10.8c.1 2.7-2.1 4.8-4.8 4.8z"}
      %path.st11{:d => "M249.6 473.1h-93.3c-.5 0-2.7.3-3.1 0-.6-.5.1-7.8.1-9.1 0-5.4.6-10.5 2.3-15.7 7.9-23.8 32.9-33.6 56.2-29.8 14.4 2.3 26.9 11.8 33.2 24.9 2.9 6.1 4.3 12.7 4.3 19.4v6.1c0 2 .8 4.2-1.2 4.5-6.3.9-3.6 10.5 2.7 9.6 6.8-.9 8.5-6.9 8.5-12.8 0-5.1.1-10.2-.6-15.3-2-14.6-10.1-27.7-21.9-36.4-21.6-15.9-55.8-14.2-75.7 3.7-11.2 10.1-17.6 24.6-17.9 39.6-.2 8.4-1.6 20.7 10 21.3 15.1.8 30.4 0 45.5 0h50.7c6.7 0 6.7-10 .2-10z"}
      %path.st33{:d => "M358.2 478.1h-96.6c-2.6 0-4.7-2.1-4.7-4.7v-9.6c0-28 22.9-50.8 50.8-50.8h4.4c28 0 50.8 22.9 50.8 50.8v9.6c0 2.6-2.1 4.7-4.7 4.7z"}
      %path.st11{:d => "M358.2 473.1h-92.7c-.8 0-3.1.4-3.8 0 0 0 .2-6.4.2-7.6 0-5.2.5-10.1 2-15.1 7.3-24 32.6-36.2 56.4-31.7 14 2.7 26 11.7 32.6 24.3 3.2 6.2 4.9 13.1 5 20.1v5.5c0 2.1.8 4.4-1 4.7-6.3.9-3.6 10.5 2.7 9.6 6.6-.9 8.4-6.7 8.4-12.5 0-5.4.1-10.8-.8-16.2-2.4-14.4-10.8-27.2-22.5-35.8-22.3-16.2-56.2-13.8-75.9 5.4-10.5 10.3-16.6 24.5-16.9 39.2-.1 8.3-1.2 19.4 10 20 15.4.9 31.1 0 46.5 0h49.8c6.4.1 6.4-9.9 0-9.9z"}
      %path.st33{:d => "M297.8 366.4h-84.4c-6.6 0-12-5.4-12-12v-47c0-6.6 5.4-12 12-12h84.4c6.6 0 12 5.4 12 12v47c0 6.6-5.4 12-12 12z"}
      %path.st11{:d => "M297.8 361.4h-62.4c-7.3 0-14.8.6-22 0-6.3-.5-7-5.6-7-10.6v-17.4-19.2c0-3.5-.8-8.4 1.6-11.3 2.4-2.8 5.8-2.5 9-2.5h53.6c8.8 0 17.7-.5 26.5 0 5.5.3 7.5 4.1 7.5 9.1v39.6c.2 5.2.6 11.9-6.8 12.3-6.4.3-6.4 10.3 0 10 9.7-.5 16.6-7.6 17-17.2.2-4.7 0-9.4 0-14v-22.8c0-4.1.4-8.5-.2-12.5-1.3-8.5-8.6-14.1-17-14.4-3.4-.1-6.8 0-10.3 0h-43c-10.1 0-20.2-.3-30.3 0-8 .3-15.1 5-17.1 13.1-1 4.1-.5 8.8-.5 13 0 12.5-.4 25 0 37.5.3 8.4 5.8 15.8 14.4 17.2 3.1.5 6.3.2 9.4.2h77.7c6.4-.1 6.4-10.1-.1-10.1z"}
      %circle.st77{:cx => "230.7", :cy => "316.7", :r => "10.4"}
      %path.st11{:d => "M236.2 316.7c-.4 7-10.9 7-10.9 0s10.5-7 10.9 0c.3 6.4 10.3 6.4 10 0-.5-8.4-6.7-15.4-15.4-15.4-8.4 0-15.4 7.1-15.4 15.4 0 8.2 6.7 15.1 14.9 15.4 8.9.4 15.6-6.9 16-15.4.2-6.4-9.8-6.4-10.1 0z"}
      %circle.st88{:cx => "230.7", :cy => "345.2", :r => "10.4"}
      %path.st11{:d => "M236.2 345.2c-.4 7-10.9 7-10.9 0s10.5-7 10.9 0c.3 6.4 10.3 6.4 10 0-.5-8.4-6.7-15.4-15.4-15.4-8.4 0-15.4 7.1-15.4 15.4 0 8.2 6.7 15.1 14.9 15.4 8.9.4 15.6-6.9 16-15.4.2-6.4-9.8-6.4-10.1 0z"}
      %path.st44.st55{:d => "M371.7 160.3c-.2 47-28.6 87.5-69.2 106.2 21.1-26.3 34.4-60.1 34.4-98.5 0-49.8-21.3-91.8-54.5-118.6-1-.8-2.3-.5-3.3-1.3 15.7 3.5 30 10 42.7 19 30 21.4 50 54.7 49.9 93.2z"}
      %path.st11{:d => "M243.8 87h26.1c6.4 0 6.4-10 0-10h-26.1c-6.4 0-6.5 10 0 10z"}
      %path.st99{:d => "M351 157.8c0 24.5-9.3 46.9-24.5 63.8-2.7 2.9-6.4 4.6-10.4 4.6l-120.4.4c-4 0-7.8-1.6-10.4-4.5-15.5-16.9-24.9-39.5-24.9-64.2 0-20.7 6.6-39.8 17.7-55.4 2.7-3.7 7-6 11.6-6h132c4.6 0 8.9 2.2 11.5 6 11.2 15.5 17.8 34.6 17.8 55.3z"}
      %path.st11{:d => "M346 157.8c-.1 14.7-3.5 29.2-10.4 42.2-3.9 7.4-10.6 20.9-20 21.2-10.5.3-21.1.1-31.6.1-28.8.1-57.7.5-86.5.3-8.6-.1-13.5-8.5-17.8-15.1-7.9-12.3-12.8-26.5-13.9-41.2-1.2-14.9 1.2-30 7.2-43.7 3.4-7.7 8.1-20 17.8-20.2 27.6-.6 55.2 0 82.7 0h41.2c2.3 0 4.8-.2 7.1 0 7 .5 10.2 7.5 13.2 13 3.6 6.5 6.3 13.4 8.2 20.6 1.8 7.5 2.7 15.1 2.8 22.8.1 6.4 10.1 6.4 10 0-.1-15.9-3.8-31.4-10.9-45.6-5.1-10.1-11.3-20.5-23.9-20.8-11.1-.2-22.3 0-33.4 0h-95.5c-7.1 0-13.5 2-18.1 7.9-9.5 12.5-15.5 28.1-17.7 43.6-2.3 15.6-1 31.8 4.1 46.7 2.4 7.2 5.6 14.1 9.6 20.5 3.7 6 8.2 12.9 13.8 17.3 4.8 3.8 10.3 4.1 16.1 4 5.9 0 11.9 0 17.8-.1 18.4-.1 36.9-.1 55.3-.2 13.5 0 27.1-.1 40.6-.1 8.6 0 14.4-3.5 19.8-10.2 9.4-11.7 16.3-25.3 19.7-40 1.8-7.6 2.6-15.4 2.7-23.2 0-6.2-10-6.2-10 .2z"}
      %path.st33{:d => "M181.6 111.8c-4.1 7.1-7.1 14.7-8.6 22.8-1.7 8.6 11.5 12.3 13.2 3.6 1.4-7 3.7-13.3 7.3-19.5 4.4-7.6-7.5-14.5-11.9-6.9zM182.4 166.4c-.4-3-.5-6.5-.4-9.8.1-3.7-3.2-6.9-6.9-6.9-3.8 0-6.7 3.1-6.9 6.9-.2 4.5.2 8.9.9 13.4.5 3.7 5.2 5.7 8.4 4.8 4-1.1 5.4-4.8 4.9-8.4z"}
      %path.st100.st55{:d => "M357.9 465v1c.6 8.8 1.5 7.2-8.3 7.1h-7.8c1.5-1.9 1.8-2.4 1.8-5.1v-1.1c0-14.1-5.3-26.9-13.7-36.2-5.5-6-12.3-10.3-19.8-12.7.8 0 1.6.1 2.4.1 13.1.8 25.1 6 33.2 14.6 8.1 8.6 12.2 19.5 12.2 32.3z"}
      %path.st33{:d => "M362.5 381.5h1.8c13.8 0 25.1-11.3 25.1-25.1v-92.1c0-13.8-11.3-25.1-25.1-25.1h-6.5c-6.3 0-11.4 5.1-11.4 11.4v114.8c0 8.9 7.2 16.1 16.1 16.1z"}
      %path.st11{:d => "M362.5 386.5c17.5 0 31.5-12.6 31.9-30.4.2-8.2 0-16.4 0-24.6 0-22.3.5-44.6 0-66.8-.3-17.1-13.6-30.3-30.8-30.4-7.6-.1-15.3.4-19.7 7.7-2.1 3.5-2.4 7.2-2.4 11v106.4c0 2-.1 4 0 6 .3 11.8 9.2 20.6 21 21.1 6.4.3 6.4-9.7 0-10-10.8-.5-11.1-10-11.1-18.1v-28.5-69c0-4.8-1.6-13.9 3.9-16.2 5-2.1 14.1-.4 18.5 2 6.6 3.6 10.4 10.4 10.5 17.8.4 18.6 0 37.2 0 55.8v32.6c0 3.5.1 6.8-1.1 10.2-3.2 9.1-11.6 13.5-20.7 13.5-6.5-.1-6.5 9.9 0 9.9z"}
      %path.st11{:d => "M346.4 343.9h42.9c6.4 0 6.4-10 0-10h-42.9c-6.4 0-6.5 10 0 10z"}
      %path.st111.st122{:d => "M384.5 269.3v80.5c1.6 20.1-11.2 27.9-24.1 26.2-1.5-.2-3-.4-4.3-1.2 11.2-3.6 19.4-15.1 19.4-28.6v-73c0-13.5-8.2-25-19.4-28.6 2.3-.9 2.8-1.2 4.3-1.2 14.8.1 25.2 10.4 24.1 25.9z"}
      %path.st133{:d => "M371.6 128.9l25.1-23.8"}
      %path.st11{:d => "M375.1 132.4c8.4-7.9 16.7-15.8 25.1-23.8 4.7-4.4-2.4-11.5-7.1-7.1-8.4 7.9-16.7 15.8-25.1 23.8-4.6 4.5 2.4 11.5 7.1 7.1z"}
      %path.st133{:d => "M139.7 128.9l-25.1-23.8"}
      %path.st11{:d => "M143.3 125.3c-8.4-7.9-16.7-15.8-25.1-23.8-4.7-4.4-11.8 2.6-7.1 7.1 8.4 7.9 16.7 15.8 25.1 23.8 4.7 4.4 11.7-2.6 7.1-7.1z"}
      %circle.st144{:cx => "114.6", :cy => "105.1", :r => "4.8"}
      %path.st155{:d => "M114.4 105.1c0-.5.1-.1-.1.2.1-.2.5-.7.1-.3-.4.4.1 0 .2-.1.3-.2-.7 0 0 0 .5 0 .1.1-.2-.1.2.1.7.5.3.1-.5-.5.2.2.1.2.1.2.1.2 0-.1-.1-.3-.1-.3 0 .1 0 .7.1-.2.1-.2.1.1-.2.4-.3.5.5-.7.2-.3 0-.1-.3.2.5 0 .2-.1-.6-.1-.4-.1 0 .1-.2-.1-.3-.1-.5-.3.6.6.2.1.1.1-.1-.2-.1-.2 0 0 .1.4.1.4 0 0 .1 2.7 2.2 5 5 5 2.6 0 5.1-2.3 5-5-.3-5.3-4.3-9.8-9.8-9.8-5.4 0-9.7 4.5-9.8 9.8-.1 5.3 4.4 9.6 9.5 9.8 5.6.2 9.8-4.4 10-9.8.1-2.7-2.4-5-5-5-2.7 0-4.7 2.3-4.9 5z"}
      %circle.st166{:cx => "396.7", :cy => "105.1", :r => "4.8"}
      %path.st155{:d => "M396.4 105.1c0-.5.1-.1-.1.2.1-.2.5-.7.1-.3-.4.4.1 0 .2-.1.3-.2-.7 0 0 0 .5 0 .1.1-.2-.1.2.1.7.5.3.1-.5-.5.2.2.1.2.1.2.1.2 0-.1-.1-.3-.1-.3 0 .1 0 .7.1-.2.1-.2.1.1-.2.4-.3.5.5-.7.2-.3 0-.1-.3.2.5 0 .2-.1-.6-.1-.4-.1 0 .1-.2-.1-.3-.1-.5-.3.6.6.2.1.1.1 0-.2 0-.2 0 0 .1.4.1.4 0 0 .1 2.7 2.2 5 5 5 2.6 0 5.1-2.3 5-5-.3-5.3-4.3-9.8-9.8-9.8-5.4 0-9.7 4.5-9.8 9.8-.1 5.3 4.4 9.6 9.5 9.8 5.6.2 9.8-4.4 10-9.8.1-2.7-2.4-5-5-5-2.7 0-4.7 2.3-4.9 5z"}
      %path.st33{:d => "M351.9 478.1H376"}
      %g
        %path.st33{:d => "M138 478.1h-18.3"}
      %g
        %path.st11{:d => "M307.6 397.2h4.6c2.6 0 5.1-2.3 5-5-.1-2.7-2.2-5-5-5h-4.6c-2.6 0-5.1 2.3-5 5 .1 2.7 2.2 5 5 5z"}
      %g
        %path.st11{:d => "M199.2 397.2h4.6c2.6 0 5.1-2.3 5-5-.1-2.7-2.2-5-5-5h-4.6c-2.6 0-5.1 2.3-5 5 .1 2.7 2.2 5 5 5z"}
      %g.st100
        %path.st55{:d => "M249.5 465v1c.6 8.8 1.5 7.2-8.3 7.1h-7.8c1.5-1.9 1.8-2.4 1.8-5.1v-1.1c0-14.1-5.3-26.9-13.7-36.2-5.5-6-12.3-10.3-19.8-12.7.8 0 1.6.1 2.4.1 13.1.8 26.6 5.6 34.7 14.2 8.1 8.6 10.7 19.9 10.7 32.7z"}
    %center.svg-planet
      %svg{:height => "347.2px", :space => "preserve", :style => "enable-background:new 0 0 348.5 347.2;", :version => "1.1", :viewbox => "0 0 348.5 347.2", :width => "348.5px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:a" => "http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        :css
          .st0{fill:#F44336;}
          .st1{fill:#BF302C;}
          .st2{fill:#A52926;}
          .st3{opacity:0.15;enable-background:new    ;}
          .st4{opacity:0.2;enable-background:new    ;}
          .st5{opacity:0.1;enable-background:new    ;}
          .st6{fill:#FFFFFF;}
        %defs
        %circle.saturn.st0{:cx => "157.9", :cy => "197.6", :r => "149.5"}
        %g.saturn-2
          %path.st1{:d => "M11.3,227.2c42.5,1.4,157.9-2.6,289.5-73.8c-5.1-16.4-13-31.9-23.3-45.6C234.7,137.2,137,191.7,9,184.1\n\t\tC7.6,198.7,8.5,213.2,11.3,227.2L11.3,227.2z M302.6,235.2c4-15.3,5.4-30.7,4.6-45.7c-33.8,25.3-137.2,92.4-277.6,84.9\n\t\tc6.5,10.9,14.4,20.9,23.5,29.9c44.4,0.3,137.7-6.4,245.9-57.2C300.4,243.3,301.6,239.3,302.6,235.2L302.6,235.2z M147.4,346.8\n\t\tc35.4,2.5,69.8-7.7,97.5-27.6C216.9,330.8,184.1,341,147.4,346.8L147.4,346.8z M249.9,79.7c-15.6-12.2-34-21.5-54.4-26.8\n\t\tc-71.9-18.7-145.1,18.3-174.3,84C70.2,135.2,154.3,124.7,249.9,79.7L249.9,79.7z"}
        %circle.st2{:cx => "221.1", :cy => "149.7", :r => "28.4"}
        %path.st3{:d => "M233.1,131.1c6,1.6,11.1,5,14.8,9.5c-3-8.7-10.1-15.8-19.7-18.3c-15.2-3.9-30.7,5.2-34.6,20.3\n\tc-2.4,9.1,0,18.4,5.5,25.2c-1.7-5.1-2-10.7-0.6-16.3C202.5,136.3,218,127.2,233.1,131.1z"}
        %circle.st2{:cx => "136.4", :cy => "215.6", :r => "19.4"}
        %path.st4{:d => "M144.6,203c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C123.7,206.5,134.2,200.3,144.6,203L144.6,203z"}
        %circle.st2{:cx => "209.4", :cy => "85.9", :r => "12.6"}
        %path.st4{:d => "M214.7,77.6c2.7,0.7,4.9,2.2,6.6,4.2c-1.3-3.9-4.5-7-8.8-8.1c-6.7-1.7-13.6,2.3-15.3,9c-1.1,4.1,0,8.1,2.5,11.2\n\tc-0.8-2.3-0.9-4.7-0.3-7.2C201.1,79.9,208,75.9,214.7,77.6z"}
        %circle.st2{:cx => "65.2", :cy => "197.1", :r => "19.4"}
        %path.st4{:d => "M73.4,184.5c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C52.5,188,63.1,181.8,73.4,184.5L73.4,184.5z"}
        %circle.st2{:cx => "132.5", :cy => "307.6", :r => "19.4"}
        %path.st4{:d => "M140.7,294.9c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C119.8,298.4,130.4,292.2,140.7,294.9L140.7,294.9z"}
        %circle.st2{:cx => "204.1", :cy => "295.4", :r => "19.4"}
        %path.st4{:d => "M212.4,282.8c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C191.4,286.3,202,280.1,212.4,282.8L212.4,282.8z"}
        %circle.st2{:cx => "260.7", :cy => "226.5", :r => "11.1"}
        %path.st4{:d => "M265.4,219.2c2.4,0.6,4.3,1.9,5.8,3.7c-1.2-3.4-4-6.2-7.7-7.2c-5.9-1.5-12,2-13.5,7.9c-0.9,3.6,0,7.2,2.2,9.8\n\tc-0.7-2-0.8-4.2-0.2-6.4C253.5,221.3,259.5,217.7,265.4,219.2L265.4,219.2z"}
        %circle.st2{:cx => "122.4", :cy => "98.1", :r => "11.1"}
        %path.st4{:d => "M127.1,90.8c2.4,0.6,4.3,1.9,5.8,3.7c-1.2-3.4-4-6.2-7.7-7.2c-5.9-1.5-12,2-13.5,7.9c-0.9,3.6,0,7.2,2.2,9.8\n\tc-0.7-2-0.8-4.2-0.2-6.4C115.1,92.8,121.1,89.3,127.1,90.8L127.1,90.8z"}
        %circle.st2{:cx => "55.9", :cy => "113.4", :r => "5.8"}
        %path.st4{:d => "M58.4,109.6c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.2-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C52.1,110.6,55.3,108.8,58.4,109.6L58.4,109.6z"}
        %circle.st2{:cx => "293.3", :cy => "193", :r => "5.8"}
        %path.st4{:d => "M295.8,189.1c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.2-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C289.5,190.2,292.6,188.3,295.8,189.1L295.8,189.1z"}
        %circle.st2{:cx => "47", :cy => "244.1", :r => "5.8"}
        %path.st5{:d => "M49.4,240.3c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.2-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C43.2,241.4,46.3,239.5,49.4,240.3L49.4,240.3z"}
        %circle.st2{:cx => "89.2", :cy => "296.9", :r => "5.8"}
        %path.st4{:d => "M91.7,293.1c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.3-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C85.4,294.2,88.6,292.3,91.7,293.1L91.7,293.1z"}
        %path.st5{:d => "M253.2,82.4c10.2,27.7,12.4,58.6,4.5,89.4C236.9,251.7,155.3,299.7,75.4,279c-21.9-5.7-41.4-16-57.8-29.5\n\tc16.4,44.3,53.5,80.2,102.7,92.9c79.9,20.8,161.6-27.2,182.3-107.1C317.7,177.2,296.5,118.3,253.2,82.4L253.2,82.4z"}
    %a{:href => "#"}
      %button.denied__link Back to admin
:scss
  @import url('https://fonts.googleapis.com/css?family=Patua+One');
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  #particles-js {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    position: fixed !important;
    opacity: 0.23;
  }
  .permission_denied {
    width: 100%;
    margin: 0px !important;
    background-image: url('/assets/app/fondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    a {
      text-decoration: none;
    }
  }
  .svg-planet{
    svg{
      max-width:280px;
      width: 80%;
      height: 50vh;
      max-height: 280px;
    }
  }
  .denied__wrapper {
    max-width: 390px;
    width: 100%;
    height: 92vh;
    padding-top: 8vh;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .permission_denied {
    h1 {
      text-align: center;
      color: #fff;
      font-family: 'Patua One', cursive;
      font-size: 100px;
      margin-bottom: 0px;
      font-weight: 800;
      margin-top: 0px;
    }
    h3 {
      text-align: center;
      color: #fff;
      font-size: 19px;
      line-height: 23px;
      max-width: 330px;
      margin: 0px auto;
      font-weight: 600;
      font-family: 'Source Sans Pro', sans-serif;;
      span {
        position: relative;
        width: 65px;
        display: inline-block;
        &:after {
          content: '';
          border-bottom: 3px solid #f44336;
          position: absolute;
          left: 0;
          top: 43%;
          width: 100%;
        }
      }
    }
  }
  .denied__link {
    background: none;
    color: #fff;
    padding: 12px 0px 10px 0px;
    border: 1px solid #fff;
    outline: none;
    width: 150px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    vertical-align: middle;
    display: block;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;;
    transition: all ease-in-out .5s;
    &:hover {
      color: #fff;
      background-color: #f44336;
      border-color: #f44336;
      transition: all ease-in-out .5s;
      cursor: pointer;
      opacity: 1.0;
    }
  }
  @media (max-width: 600px) {
    .permission_denied {
      h1 {
        font-size: 75px;
      }
      h3 {
        font-size: 16px;
        width: 200px;
        margin: 0 auto;
        line-height: 23px;
        span {
          width: 60px;
        }
      }
    }
    #astronaut {
      width: 35px;
      right: 40px;
      top: 170px;
    }
  }

  .saturn, .saturn-2, .hover {
    animation: hover 2s infinite ease-in-out alternate;
  }

  @keyframes hover {
    0% {
      transform: translateY(3px);
    }

    100% {
      transform: translateY(-3px);
    }
  }
  #astronaut {
    width: 60px;
    position: absolute;
    right: 20px;
    top: 230px;
    animation: spin 6.5s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
:javascript
  var particles = {
    "particles": {
      "number": {
        "value": 160,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 1,
        "random": true,
        "anim": {
          "enable": true,
          "speed": 1,
          "opacity_min": 0,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 4,
          "size_min": 0.3,
          "sync": false
        }
      },
      "line_linked": {
        "enable": false,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 0.17,
        "direction": "none",
        "random": true,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 600
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": false,
          "mode": "bubble"
        },
        "onclick": {
          "enable": false,
          "mode": "repulse"
        },
        "resize": false
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 250,
          "size": 0,
          "duration": 2,
          "opacity": 0,
          "speed": 3
        },
        "repulse": {
          "distance": 400,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
   };
   particlesJS('particles-js', particles, function() {
     console.log('callback - particles.js config loaded');
   });
