= title "Acceso denegado"
%h2 ¡Prohibido!
%small= flash[:message] ? flash[:message] : "No estás autorizado"

%footer
  = link_to material_icon.md_24.arrow_back, flash[:back] if flash[:back]
  = link_to material_icon.md_24.home, dashboard_admin_index_path

       