%script{src:"https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"}
%body
  .permission_denied
    #particles-js
    .denied__wrapper
      %h1 422
      %h3
        Unprocessable
      .svg-planet
        %svg{:height => "347.2px", :space => "preserve",  style: "enable-background:new 0 0 348.5 347.2;", :version => "1.1", :viewbox => "0 0 348.5 347.2", :width => "348.5px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:a" => "http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          :css
            .st0{fill:#F44336;}
            .st1{fill:#BF302C;}
            .st2{fill:#A52926;}
            .st3{opacity:0.15;enable-background:new    ;}
            .st4{opacity:0.2;enable-background:new    ;}
            .st5{opacity:0.1;enable-background:new    ;}
            .st6{fill:#FFFFFF;}
          %defs
          %circle.saturn.st0{:cx => "157.9", :cy => "197.6", :r => "149.5"}
          %g.saturn-2
            %path.st1{:d => "M11.3,227.2c42.5,1.4,157.9-2.6,289.5-73.8c-5.1-16.4-13-31.9-23.3-45.6C234.7,137.2,137,191.7,9,184.1\n\t\tC7.6,198.7,8.5,213.2,11.3,227.2L11.3,227.2z M302.6,235.2c4-15.3,5.4-30.7,4.6-45.7c-33.8,25.3-137.2,92.4-277.6,84.9\n\t\tc6.5,10.9,14.4,20.9,23.5,29.9c44.4,0.3,137.7-6.4,245.9-57.2C300.4,243.3,301.6,239.3,302.6,235.2L302.6,235.2z M147.4,346.8\n\t\tc35.4,2.5,69.8-7.7,97.5-27.6C216.9,330.8,184.1,341,147.4,346.8L147.4,346.8z M249.9,79.7c-15.6-12.2-34-21.5-54.4-26.8\n\t\tc-71.9-18.7-145.1,18.3-174.3,84C70.2,135.2,154.3,124.7,249.9,79.7L249.9,79.7z"}
          %circle.st2{:cx => "221.1", :cy => "149.7", :r => "28.4"}
          %path.st3{:d => "M233.1,131.1c6,1.6,11.1,5,14.8,9.5c-3-8.7-10.1-15.8-19.7-18.3c-15.2-3.9-30.7,5.2-34.6,20.3\n\tc-2.4,9.1,0,18.4,5.5,25.2c-1.7-5.1-2-10.7-0.6-16.3C202.5,136.3,218,127.2,233.1,131.1z"}
          %circle.st2{:cx => "136.4", :cy => "215.6", :r => "19.4"}
          %path.st4{:d => "M144.6,203c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C123.7,206.5,134.2,200.3,144.6,203L144.6,203z"}
          %circle.st2{:cx => "209.4", :cy => "85.9", :r => "12.6"}
          %path.st4{:d => "M214.7,77.6c2.7,0.7,4.9,2.2,6.6,4.2c-1.3-3.9-4.5-7-8.8-8.1c-6.7-1.7-13.6,2.3-15.3,9c-1.1,4.1,0,8.1,2.5,11.2\n\tc-0.8-2.3-0.9-4.7-0.3-7.2C201.1,79.9,208,75.9,214.7,77.6z"}
          %circle.st2{:cx => "65.2", :cy => "197.1", :r => "19.4"}
          %path.st4{:d => "M73.4,184.5c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C52.5,188,63.1,181.8,73.4,184.5L73.4,184.5z"}
          %circle.st2{:cx => "132.5", :cy => "307.6", :r => "19.4"}
          %path.st4{:d => "M140.7,294.9c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C119.8,298.4,130.4,292.2,140.7,294.9L140.7,294.9z"}
          %circle.st2{:cx => "204.1", :cy => "295.4", :r => "19.4"}
          %path.st4{:d => "M212.4,282.8c4.1,1.1,7.6,3.4,10.1,6.4c-2-6-6.9-10.8-13.5-12.5c-10.3-2.7-20.9,3.5-23.6,13.9\n\tc-1.6,6.2,0,12.5,3.8,17.2c-1.2-3.5-1.4-7.3-0.4-11.1C191.4,286.3,202,280.1,212.4,282.8L212.4,282.8z"}
          %circle.st2{:cx => "260.7", :cy => "226.5", :r => "11.1"}
          %path.st4{:d => "M265.4,219.2c2.4,0.6,4.3,1.9,5.8,3.7c-1.2-3.4-4-6.2-7.7-7.2c-5.9-1.5-12,2-13.5,7.9c-0.9,3.6,0,7.2,2.2,9.8\n\tc-0.7-2-0.8-4.2-0.2-6.4C253.5,221.3,259.5,217.7,265.4,219.2L265.4,219.2z"}
          %circle.st2{:cx => "122.4", :cy => "98.1", :r => "11.1"}
          %path.st4{:d => "M127.1,90.8c2.4,0.6,4.3,1.9,5.8,3.7c-1.2-3.4-4-6.2-7.7-7.2c-5.9-1.5-12,2-13.5,7.9c-0.9,3.6,0,7.2,2.2,9.8\n\tc-0.7-2-0.8-4.2-0.2-6.4C115.1,92.8,121.1,89.3,127.1,90.8L127.1,90.8z"}
          %circle.st2{:cx => "55.9", :cy => "113.4", :r => "5.8"}
          %path.st4{:d => "M58.4,109.6c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.2-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C52.1,110.6,55.3,108.8,58.4,109.6L58.4,109.6z"}
          %circle.st2{:cx => "293.3", :cy => "193", :r => "5.8"}
          %path.st4{:d => "M295.8,189.1c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.2-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C289.5,190.2,292.6,188.3,295.8,189.1L295.8,189.1z"}
          %circle.st2{:cx => "47", :cy => "244.1", :r => "5.8"}
          %path.st5{:d => "M49.4,240.3c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.2-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C43.2,241.4,46.3,239.5,49.4,240.3L49.4,240.3z"}
          %circle.st2{:cx => "89.2", :cy => "296.9", :r => "5.8"}
          %path.st4{:d => "M91.7,293.1c1.2,0.3,2.3,1,3,1.9c-0.6-1.8-2.1-3.3-4-3.8c-3.1-0.8-6.3,1.1-7.1,4.2c-0.5,1.9,0,3.8,1.1,5.2\n\tc-0.4-1-0.4-2.2-0.1-3.3C85.4,294.2,88.6,292.3,91.7,293.1L91.7,293.1z"}
          %path.st5{:d => "M253.2,82.4c10.2,27.7,12.4,58.6,4.5,89.4C236.9,251.7,155.3,299.7,75.4,279c-21.9-5.7-41.4-16-57.8-29.5\n\tc16.4,44.3,53.5,80.2,102.7,92.9c79.9,20.8,161.6-27.2,182.3-107.1C317.7,177.2,296.5,118.3,253.2,82.4L253.2,82.4z"}
      = link_to :back do
        %button.denied__link Back to admin
= javascript_include_tag 'errors/application', 'data-turbolinks-track' => true
