%li= link_to '<i class="fa fa-home"> Home</i>'.html_safe, main_app.root_path
- if user_signed_in?
	%li= link_to '<i class="fa fa-power-off"> Sign out</i>'.html_safe, main_app.destroy_user_session_path, :method=>'delete'
- else
	%li= link_to '<i class="fa fa-power-off"> Sign in</i>'.html_safe, main_app.new_user_session_path

