.container
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_5"}
          sitemap.rb
          .kf-signal.sitemap_signal
      %li.pull-right
        %a{onclick: "controls.save()", title: t('keppler.actions.save')}
          %i.fa.fa-save
      %li.pull-right
        %a#btn-views-editor{title: t('keppler.actions.views')}
          %i.fa.fa-cog
      -# %li.pull-right
      -#   = link_to admin_frontend_sitemaps_path do
      -#     %i.fa.fa-list
      -#     %span.hidden-xs
      -#       = t('keppler.actions.sitemaps_list')
    .tab-content
      #tab_5.tab-pane.active
        %div.action.code-container
          %textarea#code-sitemap{:name => "code"}
            = Seo.sitemap_code

:javascript
  $('.sitemap_signal').css('display', 'none');
  codeSitemap.codeMirrorSitemap();
  var tab = 'sitemap';
  var ready = { sitemap: false }

  $(document).bind('keydown', function(e) {
    if(e.ctrlKey && (e.which == 83)) {
      e.preventDefault();
      save()
    }
  });

  function save() {
    controls.save()
  }
