.keppler-color { color: $keppler-color; }
.keppler-background { background: $keppler-color; }
.keppler-border-top-color { border-top-color: $keppler-color; }

.skin-blue .content-header {
  background: transparent;
  margin-top: 50px;
}

.wrapper {
  .content-wrapper {
    background: $gray-lighten;
    min-height: 100vh;
    padding-top: 70px;
  }
}

.btn-ks {
  background: $keppler-color;
  border: 1px solid $keppler-color;
  color: $white;
  transition: .5s all;

  &:hover {
    background: $keppler-accent;
    border: 1px solid $keppler-accent;
    color: $white;
    transition: .5s all;
  }
}

.btn-ks-inverse {
  border: 1px solid $keppler-color;
  color: $keppler-color;
  transition: .5s all;

  &:hover {
    background: $keppler-color;
    border: 1px solid $keppler-color;
    color: $white;
    transition: .5s all;
  }
}

.btn-gr {
  background: $medium-grey;
  border: 1px solid $medium-grey;
  color: $white;
  transition: .5s all;

  &:hover {
    background: $almost-black;
    border: 1px solid $medium-grey;
    color: $white;
    transition: .5s all;
  }
}

.btn-gr-inverse {
  border: 1px solid $medium-grey;
  color: $medium-grey;
  transition: .5s all;

  &:hover {
    background: $medium-grey;
    border: 1px solid $medium-grey;
    color: $white;
    transition: .5s all;
  }
}

.appearance-img {
  height: 350px !important; // scss-lint:disable ImportantRule
  width: 100% !important; // scss-lint:disable ImportantRule
}

.minicolors-theme-default .minicolors-input {
  display: inline-block;
  height: 30px;
  padding-left: 26px;
  width: auto;
}

.label-primary {
  background: $keppler-color;
}

.content-wrapper,
.right-side {
  background-color: $almost-white;
  min-height: 100%;
  z-index: 800;
}

.box-body {
  @include respond-to(xs) {
    padding: 0 0 20px;
  }

  thead {
    background-color: $ededed;

    th {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .1px;
      text-transform: uppercase;
    }

    th:first-child {
      padding: 10px 20px;
    }
  }
}

.form-control {
  border-radius: 15px;
}

.box-header {
  @include respond-to(xs) {
    padding: 10px 0;
  }
}
