// Colors
$black: #000;
$error-color: #f44336;
$gray-darken: #4c4c4c;
$gray-lighten: #f4f4f4;
$gray-hover: #dadada;
$primary-color: #f44336;
$secondary-color: #d32f2f;
$white: #fff;
$link-color: #039be5;

// Pageslide
$pageslide-icon-color: #575757;
$pageslide-link-color: #7f7f7f;

// nprogress
$nprogress-color: #009688;
$nprogress-height: 4px;
$nprogress-zindex: 10100;

// Keppler theme color
// NO TOCAR /////////////
$keppler-color:#f50e1e;
$keppler-darken:#d32f2f;
$keppler-accent:#d11421;
// NO TOCAR /////////////
// Pink theme color
$pink-color: #e91e63;
$pink-darken: #c2185b;
$pin-accent: #448aff;

// Pink theme color
$pink-color: #e91e63;
$pink-darken: #c2185b;
$pink-accent: #448aff;

// Cyan theme color
$cyan-color: #00bcd4;
$cyan-darken: #0097a7;
$cyan-accent: #ff9800;

// Grey theme color
$grey-color: #607d8b;
$grey-darken: #455a64;
$grey-accent: #ff5722;

// Amber theme color
$amber-color: #ffc107;
$amber-darken: #ffa000;
$amber-accent: #7c4dff;

// brown theme color
$brown-color: #795548;
$brown-darken: #5d4037;
$brown-accent: #4caf50;

// Medias querys
$breakpoints: (
  'xs': "(max-width: 767px)",
  'sm': "(max-width: 991px)",
  'md': "(max-width: 1199px)",
  'lg': "(max-width: 1600px)",
  'xl': "(max-width: 2048px)",
) !default;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$font-primary: 'Source Sans Pro', sans-serif;

$font-size: 10px;
$color-primary: #ff5300; // Orange primary
$color-secundary: #ff005e;

%circle-img{
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
