// Colors
$black: #000;
$error-color: #f44336;
$gray-darken: #4c4c4c;
$gray-lighten: #f4f4f4;
$gray-hover: #dadada;
$primary-color: #f44336;
$secondary-color: #d32f2f;
$white: #fff;
$link-color: #039be5;

// Pageslide
$pageslide-icon-color: #575757;
$pageslide-link-color: #7f7f7f;

// nprogress
$nprogress-color: #009688;
$nprogress-height: 4px;
$nprogress-zindex: 10100;

// Keppler theme color
// NO TOCAR /////////////
$keppler-color:#f44336;
$keppler-darken:#d32f2f;
$keppler-accent:#009688;
// NO TOCAR /////////////
