var notification = function(msg) {noty({text: msg,layout: 'bottomRight',type: 'alert',dismissQueue: true,animation: {open: 'animated tada',close: 'bounceOutRight',easing: 'swing',speed: 500},timeout: 5000,callback: {afterShow: function() {$.noty.closeAll()}}})};

- case action_name
  - when "create"
    notification("#{controller_name.humanize.singularize} creado satisfactoriamente.")
  - when "update"
    notification("#{controller_name.humanize.singularize} actualizado satisfactoriamente.")
  - when "destroy"
    notification("#{controller_name.humanize.singularize} eliminado satisfactoriamente.")
