var notification = function(msg) {swal.mixin({html: `<h5>${msg}</h5>`};

- case action_name
  - when 'create'
    notification("#{controller_name.humanize.singularize} creado satisfactoriamente.")
  - when 'update'
    notification("#{controller_name.humanize.singularize} actualizado satisfactoriamente.")
  - when 'destroy'
    notification("#{controller_name.humanize.singularize} eliminado satisfactoriamente.")
