.app-navbar {
  background-color: $primary-color;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 10px $primary-shadow;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;

  a {
    color: $white;
  }

  .brand-logo {
    color: $white;
    font-family: $putua;
    font-size: 30px;
    left: 10px;
    position: relative;
  }
}
