// LuizRocketNuevo Stylesheets
= stylesheet_link_tag 'keppler_luiz_rocket_nuevo/application', media: 'all', 'data-turbolinks-track': true
// LuizRocketNuevo Javascripts
= javascript_include_tag 'keppler_luiz_rocket_nuevo/application', 'data-turbolinks-track': true