<!DOCTYPE html>
<html lang="en">
<head>
    <title>ActionView::Layouts::ClassMethods</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://api.rubyonrails.org/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://api.rubyonrails.org/css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://api.rubyonrails.org/css/github.css" type="text/css" media="screen" />
<script src="https://api.rubyonrails.org/js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://api.rubyonrails.org/js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="https://api.rubyonrails.org/js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>


    <meta property="og:title" value="ActionView::Layouts::ClassMethods">

  

    <meta name="keywords" content="ActionView::Layouts::ClassMethods class">
  
    <meta name="keywords" content="action_has_layout?">
  
</head>

<body>
    <div class="banner">
        
            <span>Ruby on Rails 5.2.1</span><br />
        
        <h1>
            <span class="type">Module</span>
            ActionView::Layouts::ClassMethods
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionview/lib/action_view/layouts_rb.html">actionview/lib/action_view/layouts.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  


  


  
  


  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>A</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="ClassMethods.html#method-i-action_has_layout-3F">action_has_layout?</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  



  

    

    

    


    


    <!-- Methods -->
    
    
      <div class="sectiontitle">Instance Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-action_has_layout-3F">
            
              <b>action_has_layout?</b>()
            
            <a href="ClassMethods.html#method-i-action_has_layout-3F" name="method-i-action_has_layout-3F" class="permalink">Link</a>
          </div>

          
            <div class="description">
              <p>Controls whether an action should be rendered using a layout. If you want
to disable any <code>layout</code> settings for the current action so that
it is rendered without a layout then either override this method in your
controller to return false for that action or set the
<code>action_has_layout</code> attribute to false before rendering.</p>
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                <a href="javascript:toggleSource('method-i-action_has_layout-3F_source')" id="l_method-i-action_has_layout-3F_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/fc5dd0b85189811062c85520fd70de8389b55aeb/actionview/lib/action_view/layouts.rb#L370" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-action_has_layout-3F_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/layouts.rb, line 370</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">action_has_layout?</span>
  <span class="ruby-ivar">@_action_has_layout</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
  </body>
</html>
