#iru4n
{
 font-family: "Patua One" !important;
 float: none !important;
 text-align: center !important;
}

.navbar.navbar-default
{
 border-top-left-radius: 0px !important;
 border-top-right-radius: 0px !important;
 border-bottom-right-radius: 0px !important;
 border-bottom-left-radius: 0px !important;
 margin-top: 0px !important;
 margin-right: 0px !important;
 margin-bottom: 0px !important;
 margin-left: 0px !important;
}

#irscd
{
 text-align: center !important;
}

#ixotl
{
 text-align: center !important;
}

.container-fluid
{
 text-align: right !important;
}

@media (max-width: 480px)
{
 #irscd
 {
  font-size: 16px !important;
 }

 #iru4n
 {
  font-size: 28px !important;
 }
}
