#i4z1g
{
 font-family: "Patua One" !important;
 text-align: center !important;
 color: rgb(255, 255, 255) !important;
 text-decoration: undefined !important;
}

#in3wz
{
 text-align: center !important;
 color: rgb(255, 255, 255) !important;
}

#i55rx
{
 text-align: center !important;
}

.navbar.navbar-default
{
 margin-top: 0px !important;
 margin-right: 0px !important;
 margin-bottom: 0px !important;
 margin-left: 0px !important;
 background-color: rgb(36, 36, 36) !important;
 border-top-left-radius: 0px !important;
 border-top-right-radius: 0px !important;
 border-bottom-right-radius: 0px !important;
 border-bottom-left-radius: 0px !important;
 border-top-width: 0px !important;
 border-right-width: 0px !important;
 border-bottom-width: 0px !important;
 border-left-width: 0px !important;
 border-top-style: solid !important;
 border-right-style: solid !important;
 border-bottom-style: solid !important;
 border-left-style: solid !important;
 border-top-color: rgb(231, 231, 231) !important;
 border-right-color: rgb(231, 231, 231) !important;
 border-bottom-color: rgb(231, 231, 231) !important;
 border-left-color: rgb(231, 231, 231) !important;
 border-image-source: initial !important;
 border-image-slice: initial !important;
 border-image-width: initial !important;
 border-image-outset: initial !important;
 border-image-repeat: initial !important;
}

.bstp-row
{
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
}

.bstp-column
{
 min-height: 75px;
}

img
{
 width: 100%;
 height: 100%;
}

.btn.btn-primary
{
 background-color: rgb(251, 123, 16) !important;
 border-top-width: 1px !important;
 border-right-width: 1px !important;
 border-bottom-width: 1px !important;
 border-left-width: 1px !important;
 border-top-style: solid !important;
 border-right-style: solid !important;
 border-bottom-style: solid !important;
 border-left-style: solid !important;
 border-top-color: rgb(197, 112, 14) !important;
 border-right-color: rgb(197, 112, 14) !important;
 border-bottom-color: rgb(197, 112, 14) !important;
 border-left-color: rgb(197, 112, 14) !important;
 border-image-source: initial !important;
 border-image-slice: initial !important;
 border-image-width: initial !important;
 border-image-outset: initial !important;
 border-image-repeat: initial !important;
}

.navbar-brand
{
 color: rgb(251, 123, 16) !important;
 font-weight: 700 !important;
 font-family: "Patua One" !important;
}

.btn.btn-primary.btn-lg
{
 color: rgb(255, 255, 255) !important;
 border-top-width: 1px !important;
 border-right-width: 1px !important;
 border-bottom-width: 1px !important;
 border-left-width: 1px !important;
 border-top-style: solid !important;
 border-right-style: solid !important;
 border-bottom-style: solid !important;
 border-left-style: solid !important;
 border-top-color: rgb(197, 112, 14) !important;
 border-right-color: rgb(197, 112, 14) !important;
 border-bottom-color: rgb(197, 112, 14) !important;
 border-left-color: rgb(197, 112, 14) !important;
 border-image-source: initial !important;
 border-image-slice: initial !important;
 border-image-width: initial !important;
 border-image-outset: initial !important;
 border-image-repeat: initial !important;
}

#i4zqj
{
 color: rgb(255, 255, 255) !important;
}

#i9xaw
{
 color: rgb(255, 255, 255) !important;
}

.dropdown-toggle
{
 color: rgb(255, 255, 255) !important;
}

#isv6w
{
 color: rgb(255, 255, 255) !important;
}

.jumbotron
{
 margin-top: 50px !important;
 margin-right: 0px !important;
 margin-bottom: 30px !important;
 margin-left: 0px !important;
 background-image: url("/assets/keppler_frontend/app/pizza.jpg") !important;
 background-repeat-x: no-repeat !important;
 background-repeat-y: no-repeat !important;
 background-attachment: fixed !important;
 background-size: cover !important;
 background-position-x: 50% !important;
 background-position-y: 50% !important;
 padding-top: 0px !important;
 padding-right: 0px !important;
 padding-bottom: 0px !important;
 padding-left: 0px !important;
}

.navbar.navbar-default.navbar-fixed-top
{
 box-shadow: rgba(0, 0, 0, 0.51) 0px 2px 10px 0px !important;
}

#i4zqj:hover
{
 color: rgb(251, 123, 16) !important;
 background-color: rgb(21, 20, 20) !important;
}

#i9xaw:hover
{
 color: rgb(251, 123, 16) !important;
 background-color: rgb(21, 20, 20) !important;
}

.dropdown-toggle:hover
{
 color: rgb(251, 123, 16) !important;
 background-color: rgb(21, 20, 20) !important;
}

#isv6w:hover
{
 color: rgb(251, 123, 16) !important;
 background-color: rgb(21, 20, 20) !important;
}

.home-mask
{
 padding-top: 48px !important;
 padding-right: 0px !important;
 padding-bottom: 40px !important;
 padding-left: 0px !important;
 background-color: rgba(0, 0, 0, 0.6) !important;
}

.footer-text
{
 padding-top: 0px !important;
 padding-right: 0px !important;
 padding-bottom: 0px !important;
 padding-left: 0px !important;
 text-align: center !important;
}

.footer-slice
{
 color: rgb(251, 123, 16) !important;
 font-weight: 700 !important;
}

#i48zq1
{
 color: rgb(125, 125, 125) !important;
}

.thumb-title
{
 text-transform: uppercase !important;
 color: rgb(251, 123, 16) !important;
}

.btn.btn-default
{
 background-color: rgb(236, 235, 234) !important;
 color: rgb(89, 89, 89) !important;
 border-top-left-radius: 0px !important;
 border-top-right-radius: 4px !important;
 border-bottom-right-radius: 0px !important;
 border-bottom-left-radius: 4px !important;
 border-top-width: 1px !important;
 border-right-width: 1px !important;
 border-bottom-width: 1px !important;
 border-left-width: 1px !important;
 border-top-style: solid !important;
 border-right-style: solid !important;
 border-bottom-style: solid !important;
 border-left-style: solid !important;
 border-top-color: rgb(173, 173, 173) !important;
 border-right-color: rgb(173, 173, 173) !important;
 border-bottom-color: rgb(173, 173, 173) !important;
 border-left-color: rgb(173, 173, 173) !important;
 border-image-source: initial !important;
 border-image-slice: initial !important;
 border-image-width: initial !important;
 border-image-outset: initial !important;
 border-image-repeat: initial !important;
}

#izjk2:hover
{
 color: rgb(251, 123, 16) !important;
}

#igeba:hover
{
 color: rgb(251, 123, 16) !important;
}

#ia02l:hover
{
 color: rgb(251, 123, 16) !important;
}

#iz1ds:hover
{
 color: rgb(251, 123, 16) !important;
}

#ivjli:hover
{
 color: rgb(251, 123, 16) !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
 background-color: rgb(21, 20, 20);
 color: rgb(251, 123, 16);
}

.thumbnail:hover
{
 box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 10px 0px !important;
 transition-duration: 0.6s !important;
 transition-timing-function: ease !important;
 transition-delay: 0s !important;
 transition-property: box-shadow !important;
}

.bstp-row.row
{
 padding-top: 0px !important;
 padding-right: 10px !important;
 padding-bottom: 10px !important;
 padding-left: 10px !important;
}

.row-flex
{
 display: flex;
 justify-content: flex-start;
 align-items: stretch;
 flex-wrap: nowrap;
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
}

.cell-flex
{
 min-height: 75px;
 flex-grow: 1;
 flex-basis: 100%;
}

#ib5fem
{
 text-align: center !important;
}

#i52md9
{
 letter-spacing: normal !important;
 flex-basis: 100% !important;
}

.list-group-item
{
 color: rgb(83, 83, 83) !important;
}

.list-group-item:hover
{
 background-color: rgb(243, 243, 243) !important;
 color: rgb(251, 123, 16) !important;
 cursor: pointer !important;
}

#i5l3kl
{
 position: relative !important;
}

.pizza-menu
{
 letter-spacing: normal !important;
 flex-basis: 33% !important;
 position: relative !important;
}

#ijx7nl
{
 width: 60% !important;
}

@media (max-width: 480px)
{
 #in3wz
 {
  font-size: 15px !important;
 }

 .btn.btn-primary.btn-lg
 {
  font-size: 14px !important;
 }

 .navbar-toggle.collapsed:hover
 {
  background-color: rgba(0, 0, 0, 0.6) !important;
 }

 .row-flex
 {
  flex-direction: column !important;
 }
}
