.title {
  background-color: silver;

  h1 {
    color: red;
  }
}

#kppl-g5i {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  margin-top: 30px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important;
  margin-left: 30px !important;
}

#kppl-ydry {
  padding-top: 20px !important;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
  padding-left: 0px !important;
  background-color: rgb(34, 251, 9) !important;
  margin-top: 0px !important;
  margin-right: 30px !important;
  margin-bottom: 0px !important;
  margin-left: 30px !important;
}
