.code-container {
  overflow: hidden;
  height: 80vh;
}

.aside-close {
  position: absolute !important;
  top: 50px !important;
  z-index: 1 !important;
  right: 0px !important;
}

#theme-editor {
  .box-title {
    font-size:  11px;

    i {
      font-size:  11px;
    }
  }

  .tab-content {
    padding: 0 !important;
    height: 100%;
  }

  .box {
    margin-bottom: 10px;
  }

  .row {
    width: 107%;
  }

  #aside-audio {
    width: 100% !important;
  }
}

#assets-editor {
  .box-title {
    font-size:  11px;

    i {
      font-size:  11px;
    }
  }

  .tab-content {
    padding: 0 !important;
    height: 100%;
  }

  .box {
    margin-bottom: 10px;
  }

  .row {
    width: 107%;
  }

  #aside-audio {
    width: 100% !important;
  }
}

#views-editor {
  .box-title {
    font-size:  11px;

    i {
      font-size:  11px;
    }
  }

  .tab-content {
    padding: 0 !important;
    height: 100%;
  }

  .box {
    margin-bottom: 10px;
  }

  .row {
    width: 107%;
  }

  #aside-audio {
    width: 100% !important;
  }
}

#btn-assets-editor,
#btn-theme-editor,
#btn-views-editor,
#close-assets-editor,
#close-theme-editor,
#close-views-editor{
  cursor: pointer;
}

.CodeMirror {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.3;
  height: 100%;
  font-size: 12px;
}

.kf-signal {
  height: 10px;
  width: 10px;
  background: #61e1d8;
  float: right;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 5px;
}

.html_signal {
  display: none;
}

.scss_signal {
  display: none;
}
.js_signal {
  display: none;
}

.js_erb_signal {
  display: none;
}

.action_signal {
  display: none;
}

.callback_signal {
  display: none;
}

.container-files {
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 5%;

  .form-group {
    margin-bottom: 15px;
    border: 1px dashed #868686;
    padding: 10px;
  }

  .box-title {
    font-size: 13px !important;

    a {
      font-size: 11px !important;
    }
  }

  #font-icon-size {
    font-size: 7rem;
  }

  .box-body {
    .back-file{
      background: #eaeaea;
      width: 100%;
      height: 200px;

      .file-image {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }

    .back-file-xs{
      background: #eaeaea;
      width: 100%;
      height: 117px;
      overflow: hidden;

      .file-image {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
      }

      #font-icon-size {
        font-size: 3rem;
      }
    }
  }

  .tab-pane {
    padding: 2%;
    height: 700px;
    overflow: auto;
  }
}

.nav-tabs-custom > .tab-content {
  background: #fff;
  padding: 0 !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.cm-matchhighlight {background-color: #4b4b4b}
.CodeMirror-selection-highlight-scrollbar {background-color: #4b4b4b}
.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

#theme-cover-carousel {
  height: 267px;
}

.theme-covers {
  .cover {
    background-image: url("/assets/keppler_frontend/themes/keppler_default/covers/cover_1.png");
    width: 100%;
    display: inline-block;
    height: 267px;
    background-size: 100% 100%;
    background-position: center;
  }

  .ctrl{
    font-size: 3rem;
    opacity: 0;
    transition: .5s;
  }

  .ctrl-prev {
    display: inline;
    position: absolute;
    z-index: 9;
    top: 40%;
  }

  .ctrl-next {
    display: inline;
    position: absolute;
    z-index: 9;
    top: 40%;
    right: 4px;
  }
}

.theme-covers:hover {
  .ctrl{
    font-size: 3rem;
    opacity: 1;
    transition: .5s;
  }
}

/// THEME MONOKAI

.html {
  .cm-s-monokai span.cm-bracket {
    color: #ffffff;
  }

  .cm-s-monokai span.cm-property {
    color: #ffffff;
  }

  .CodeMirror-matchingtag {
    background-color: #a8ff004d;
  }
}

.css {
  .cm-s-monokai span.cm-qualifier,
  .cm-s-monokai span.cm-builtin  {
    color: #a6e22e;
  }
  .cm-s-monokai span.cm-property{
    color: #40eded;
  }
}

.js {
  .cm-s-monokai span.cm-keyword {
    color: #40eded;
  }
  .cm-s-monokai span.cm-property {
    color: #ffffff;
  }
}

.action {
  .cm-s-monokai span.cm-property {
    color: #ffffff;
  }

  .cm-s-monokai span.cm-tag {
    color: #40eded;
  }

  .cm-s-monokai span.cm-variable-2 {
    color: #fff;
  }

  .cm-s-monokai span.cm-atom {
    color: #40eded;
  }
}

#box-body {
  height: 325px;
  overflow: hidden;
  margin: 0 auto;
}

#box-body-bg {
  background: #dedbdb;
}

.preview-iframe {
  background: #fff;
  border: none;
  height: 450px;
  width: 250%;
  zoom: 1.8;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.box-preview {
  margin-bottom: 0 !important;
}

.asign-theme {
  .modal-content {
    border-radius: 10px;
  }

  .modal-dialog {
    width: 60%;
    margin: 30px auto;
  }
  
  .modal-title {
    width: 50%;
    float: left;
  }

  .modal-body {
    background: #dedbdb;
    height: 450px;
    overflow: auto;

    .theme-img {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
    }
  }
} 

.new-view {
  .modal-content {
    border-radius: 10px;
  }
  
  .modal-title {
    width: 50%;
    float: left;
  }
}

#error-message {
  color: red;
}