<keppler-component>
  <section class="most_product_area">
    <div class="main_box">
      <div class="container">
        <div class="main_title">
          <h2>Most Searched Products</h2>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row most_product_inner">
          <div class="col-lg-3 col-sm-6">
            <div class="most_p_list">
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-1.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-2.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-3.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="most_p_list">
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-4.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-5.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-6.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="most_p_list">
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-7.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-8.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-9.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="most_p_list">
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-10.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-11.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
              <div class="media">
                <div class="d-flex">
                  <img src="/assets/themes/listashop/m-product-12.jpg" alt="">
                </div>
                <div class="media-body">
                  <a href="#"><h4>Black lace Heels</h4></a>
                  <h3>$189.00</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</keppler-component>
<script>
  'listashop-most-product-area', {
    label: 'Products Area',
    category: 'Listashop',
    attributes: { class:'fa fa-table' },
    content: {
      script: function() {}
    }   
  }
</script>