<keppler-component>
  <div class="item">
    <div class="f_p_item">
      <div class="f_p_img">
        <img class="img-fluid" src="/assets/themes/listashop/f-p-1.jpg" alt="">
        <div class="p_icon">
          <a href="#"><i class="lnr lnr-heart"></i></a>
          <a href="#"><i class="lnr lnr-cart"></i></a>
        </div>
      </div>
      <a href="#"><h4>Long Sleeve TShirt</h4></a>
      <h5>$150.00</h5>
    </div>
  </div>
</keppler-component>
<script>
  'listashop-product-card', {
    label: 'Product Card',
    category: 'Listashop',
    attributes: { class:'fa fa-list-alt' },
    content: {
      script: function() {}
    }
  }
</script>