.chip
	%i.fa.fa-pencil
%b
	= activity.owner.name if activity.owner
update user to 
- if activity.trackable
	to 
	%b
		= activity.trackable.name
	at
	= activity.created_at
- else
	at	
	= activity.created_at
	whitch has since been removed