<!doctype html>
<html lang="en" id="keppler-html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= set_head %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/themes/listashop/bootstrap.css">
    <link rel="stylesheet" href="/assets/themes/listashop/linericon.css">
    <link rel="stylesheet" href="/assets/themes/listashop/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/themes/listashop/simpleLightbox.css">
    <link rel="stylesheet" href="/assets/themes/listashop/nice-select.css">
    <link rel="stylesheet" href="/assets/themes/listashop/animate.css">
    <link rel="stylesheet" href="/assets/themes/listashop/jquery-ui.css">
    <link rel="stylesheet" href="/assets/themes/listashop/font-awesome.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/assets/themes/listashop/style.css">
    <link rel="stylesheet" href="/assets/themes/listashop/responsive.css">
  </head>
  <body id="keppler-editor">

    <keppler-header>
    </keppler-header>

    <keppler-body>
      <%= yield %>
    </keppler-body>

    <keppler-footer>
    </keppler-footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/themes/listashop/jquery-3.2.1.min.js"></script>
    <script src="/assets/themes/listashop/popper.js"></script>
    <script src="/assets/themes/listashop/bootstrap.min.js"></script>
    <script src="/assets/themes/listashop/stellar.js"></script>
    <script src="/assets/themes/listashop/simpleLightbox.min.js"></script>
    <script src="/assets/themes/listashop/jquery.nice-select.min.js"></script>
    <script src="/assets/themes/listashop/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/themes/listashop/isotope-min.js"></script>
    <script src="/assets/themes/listashop/owl.carousel.min.js"></script>
    <script src="/assets/themes/listashop/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/themes/listashop/jquery.waypoints.min.js"></script>
    <script src="/assets/themes/listashop/timer.js"></script>
    <script src="/assets/themes/listashop/jquery.counterup.js"></script>
    <script src="/assets/themes/listashop/mail-script.js"></script>
    <script src="/assets/themes/listashop/theme.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>

  </body>
  <%= keppler_editor %>
</html>
