// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, main{
	height: 100%;
}

.front{
	height: 100%;
	.front-container{
		height: 100%;
		background:#ee6e73;	
		.front-logo-horizontal{
			display: flex;
			justify-content: center;
			height: 100%;
			.front-logo-vertical{
				display: flex;
				flex-direction: column;
				justify-content: center;
				@media #{$phone} {
					.front-logo{
						width: 300px;
					}
				}
				@media #{$phone-landscape} {
					.front-logo{
						width: 300px;
					}
				}
				.front-social{
					margin-top: 30px;
					a, a:hover{						
						color: white;
						font-size: 30px;
					}
				}
			}
			.front-footer{
				padding: 15px;
				color: white;
				font-size: 18px;
				width: 100%;
				.brand-logo{
					font-family: 'Patua One', cursive;
					position: relative;
					left: 10px;
					font-size: 20px;
					color: #ffffff
				}
			}
		}
	}
}