.content-header.index-header {
  margin: 0;
  padding: 15px;
  h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 10px 0 0;
  }
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: $gray-darken;
  background: $gray-lighten;
}

.label-keppler {
  background-color: $keppler-color;
  color: $white;
}

.contact-us-search {
  &.no-active {
    .has-feedback {
      .form-control {
        border-color: $white;
        width: 0;
      }
      .form-control-feedback {
        font-weight: 600;
        transition: .3s ease-out;
        pointer-events: all;
        &:hover {
          background: $keppler-color;
          border-radius: 50%;
          color: $white;
          transition: .3s ease-out;
        }
      }
    }
  }

  &.active {
    .has-feedback {
      .form-control {
        border-color: #d2d6de;
        width: 100%;
      }
      .form-control-feedback {
        font-weight: 600;
        background: $keppler-color;
        color: $white;
        transition: .3s ease-out;
        pointer-events: all;
      }
    }
  }
}

.mailbox-controls {
  padding: 5px 0 0;

  .pagination {
    margin: 0;
  }
}

.toolbar-inline {
  background-color: $gray-lighten;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 5px;
  padding: 0 5px;
  right: 70px;
  top: 15px;
  @media screen and (min-width: 0) and (max-width: 991px) {
    right: 15px;
  }
  &-item {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    &:hover {
      background-color: $gray-hover;
    }
  }
  .disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }
  .checkbox-toggle {
    .pretty {
      margin-right: 0;
      padding-right: 5px;
    }
  }
  a {
    color: $medium-grey;
    &:hover {
      color: $keppler-color;
    }
    &:focus {
      color: inherit;
    }
  }
  .btn-group {
    border-right: 1px solid $gray-hover;
    padding: 0 5px;
    &:last-child {
      border: 0;
    }
  }
}

.nav-stacked>li.active>a,
.nav-stacked>li.active>a:hover {
  background: transparent;
  color: #444;
  border-top: 0;
  border-left-color: $keppler-color;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
  padding: 5px 15px;
  line-height: 2;
  vertical-align: center !important;
  border-top: 1px solid #ddd;
}

@media print {
  .noprint {
    display: none;
  }
}