-# %footer.main-footer
-#   .pull-right.hidden-xs
-#     %b Version
-#     | 2.0.0
-#   %strong
-#     Copyright © 2018.
-#     %a{ :href=>"https://adminlte.io"}  Slice Group
-#   | . All rights reserved.
