-# .header-information.hide-on-small-only{ "ng-style" => listing? ? "{'max-width':'75%'}" : "{'min-width':'100%'}", class: "keppler-bg-1" }
-# 	%h1 
-# 		= content_for?(:header_information) ? yield(:header_information) : t("keppler.modules.#{controller_path.underscore}")
-# 	%small 
-# 		= t("keppler.actions.#{action_name}")

	
