.spinner2
  %center
    %svg.spinner{ height: '50px', viewbox: '0 0 66 66', width: '50px', xmlns: 'http://www.w3.org/2000/svg' }
      %circle.path{ cx: '33', cy: '33', fill: 'none', r: '30', 'stroke-linecap': 'round', 'stroke-width' => '6' }
