%p
  Hola #{@resource.email}!
%p Nos has hecho una petición para cambiar tu contraseña. Puedes hacerlo a través de este enlace.
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si usted no solicitó esto, por favor ignore este correo.
%p Su contraseña no cambiará si no entra al enlace anterior y cree una nueva.