.trigger
  %img#avatar.img-responsive{src: "#{image}"}

:scss
  #avatar {
    width: 100%;
    height: 200px !important;
    object-fit:cover;
    transition: all ease 1s;
  }

:javascript
  $('.trigger').click(function() {
    $('#user_avatar').click()
    $('#user_avatar').change(function() {
      $('.simple_form').first().submit()
        $('#file').html('check')
      })
  })
