<!DOCTYPE html>
<html id="keppler-html">
  <head>
    <%= set_head %>
  </head>
  <body id="keppler-editor">
    <keppler-header>
      <!-- Keppler Header -->
    </keppler-header>

    <%= yield %>
    
    <keppler-footer>
      <!-- Keppler Footer -->
    </keppler-footer>
  </body>
  <%= keppler_editor %>
</html>

