@import "materialize";

body, html {
  min-height: 100vh;
}

body {
  text-align: center;
  background: white;
  font-family: roboto;
  font-size: 13px;
  line-height: 1.42857;
  color: #5e5e5e;
  margin: 0;
  &:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #edecec;
    content: "";
  }
  .dialog-error {
    background: #f44336;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    color: white;
    text-align: center;
    padding: 15px;
    height: 300px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    @media #{$small-and-down} {
      width: 94%;
      top: 56%;
      height: 225px;
      margin-left: 10px;
      margin-right: 10px;
      left: 0px;
    }
    h2 {
      line-height: 100%;
      color: white;
      font-weight: 300;
      font-size: 100px;
      margin-top: 45px;
      margin-bottom: 9px;
      @media #{$small-and-down} {
        margin-top: 35px;
        font-size: 50px;
      }
    }
    small {
      display: block;
      font-size: 16px;
      font-weight: 300;
      margin-top: -10px;
      @media #{$small-and-down} {
        font-size: 12px;
        font-weight: 300;
      }
    }
    footer {
      background: rgba(0, 0, 0, 0.13);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      a {
        font-size: 21px;
        display: inline-block;
        color: white;
        margin: 0 1px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.09);
        border-radius: 50%;
        text-align: center;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        i{
          position: relative;
          top: 4px;
        }
      }
      a:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
