//form
.edit_category, .new_category {
	.nested-fields{
		.remove_fields{
			position: relative;
			top: 25px;
			@media #{$small-and-down} {
				left: -15px;
			}
		}

		.remove_fields:hover{
			i{
				color: #26a69a !important;
			}
		}
	}
	
	
	.links {
		margin-right: 10px;
		.add_fields{
			margin-top: 10px;
		}
	
	}
}


//index_show
.listing-show-body.card#body-category{
	%td.display-value.subcategory{
		span{
			margin-top: 3px;
			font-weight: 300;
			padding: 2px 8px 2px 8px;
			background: #26a69a;
			color: white;
			display:inline-block;
		}
	}
}
