%header#header.header-home
  %section.container{:style => "position: relative;"}
    #cont-logotipo
      #logotipo
        / MARCA
        #marca
          %a{:href => "index.html"}
            %img{:src => "assets/img/logo_peq.png"}/
        / BURGER BUTTON
        #burger-button
          #bars
            %span.top
            %span.middle
            %span.bottom
      / /.logotipo
      #hora.hidden-xs
        #icono-hora
          %img{:src => "assets/img/icono_sol.png"}/
        #texto-hora
          %span 3.39 PM. Abierto ahora
