%section#servicios
  #izquierdo
  #derecho
  #carrusel

    = link_to branding_path do
      .img-slick
        .grid
          %figure.effect-duke
            %img{:alt => "Branding", :src => "assets/img/servicio-branding.jpg"}/
            %figcaption
              %div
                %p.texto1 Servicio
                %p.texto2
                  Branding y
                  %br>/
                  creaci칩n
                  %br>/
                  de marca
                %p.texto3
                  Dise침amos piezas publicitarias
                  %br>/
                  tradicionales y digitales

    = link_to web_design_path do
      .img-slick
        .grid
          %figure.effect-duke
            %img{:alt => "Web", :src => "assets/img/servicio-diseno-web.jpg"}/
            %figcaption
              %div
                %p.texto1 Servicio
                %p.texto2
                  Dise침o de
                  %br>/
                  P치ginas web
                  %br>/
                  y aplicaciones web
                %p.texto3
                  Creamos una experiencia digital
                  %br>/
                  entre tu empresa y cliente

    = link_to digital_marketing_path do
      .img-slick
        .grid
          %figure.effect-duke
            %img{:alt => "Mercadeo", :src => "assets/img/servicio-mercadeo.jpg"}/
            %figcaption
              %div
                %p.texto1 Servicio
                %p.texto2
                  Mercadeo
                  %br>/
                  Digital
                %p.texto3
                  Hacemos visible tu empresa
                  %br>/
                  en internet y redes sociales
