.skin-blue {
  .dropdown a {
    border-radius: 0;
  }

  .main-header {
    position: fixed;
    width: 100%;

    .small-profile-img {
      @extend %circle-img;
      background-color: $keppler-color;
      float: left;
      height: 25px;
      margin-right: 10px;
      margin-top: -2px;
      object-fit: cover;
      width: 25px;

      @include respond-to(xs) {
        margin-right: 0;
      }
    }

    .nav-profile-img {
      @extend %circle-img;
      background: $keppler-color;
      height: 90px;
      margin: 0 auto;
      object-fit: cover;
      width: 90px;
    }

    .navbar-static-top {
      background: $white;
      box-shadow: 0 1px 3px $transparent-black-12;
      margin: 0;
    }

    .user-header {
      background: url("profile-menu.jpg"), linear-gradient(to bottom, rgba(51,51,102,1) 0%, rgba(36,45,75,1) 51%, rgba(30,43,64,1) 100%);
      background-position: center;
      background-size: cover;
      height: 150px;
      display: flex;
      align-items: center;
    }

    .user-footer {
      background-color: $white !important;
    }
  }

  .sidebar-toggle {
    color: $navbar-static-top-link;
    display: flex;
    align-items: center;
    padding: 18px;

    &::before {
      display: none;
    }

    &:hover {
      background-color: $sidebar-toggle-hover;
      color: #949494;
    }
  }

  .logo {
    background: $keppler-color;
    border-bottom: 0 solid transparent;
    color: $white;
    font-size: 2.3rem;
    width: 50px;
    z-index: 9;

    span {
      color: $white;
      font-family: 'Patua One', cursive;
      font-size: 2.6rem;
      text-shadow: 1px 1px 1px $logo-span-text-shadow;
    }
  }
}

.user-menu span,
.navbar-nav i {
  color: $navbar-static-top-link;
}

.navbar.navbar-static-top {
  height: 50px;

  h3 {
    display: inline-block;
    margin: 10px 0;
  }
}

.sidebar-mini.sidebar-collapse {
  .main-header .navbar {
    margin-left: 0;
  }

  .main-sidebar {
    transform: translate(0, 0);
    width: 50px;
    z-index: 850;
  }
}

.navbar-nav {
  transition: .4s .5s ease-in-out;
}

.current-user {
  align-items: center;
  display: flex;
  margin-top: -15px;
  flex-direction: column;

  p {
    color: $keppler-color;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
  }

  small {
    color: $almost-black;
  }
}

.btn-user {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 10px 10px 10px;
}

.user-menu {
  .dropdown-menu {
    box-shadow: $box-shadow-collapse;
  }
}
