.skin-blue {
  .main-sidebar{
    position: fixed;
    min-height: 100vh;
    background-color: #353535 !important;

    li.header {
      color: #848383 !important;
      background: #353535 !important;
    }
    #sidebar-footer {
      width: 100%;
      padding: 10px;
      position: absolute;
      bottom: 0px;
      filter: brightness(30%);
      background: #b1b1b1;
      &-brand {
        background-image: url('profile-menu.png')
      }
      span {
        margin: 10px 0 0;
        color: #fff !important;
        font-family: 'Patua One';
      }
    }
  }

  .sidebar-menu > li:hover > a,
  .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #353535 !important;
    border-left-color: $keppler-color !important;
  }

  .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #292929 !important;
    color: #848383 !important;
  }

  .sidebar a {
    color: #a0a0a0;
  }

  .sidebar-menu.tree {
    i {
      color: #a0a0a0;
      font-size: 16px;
      padding-right: 10px;
    }
  }

  .user-panel {
    background-image: url('profile-menu.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 0px;
  }

  .user-panel > .info > small {
    color: #c0c0c0;
    margin-bottom: 9px !important;
}

  .text-success {
    color: #2ade2e !important;
  }
}
.sidebar-collapse {
  #sidebar-footer {
    opacity: 1;
    &-brand {
    }
  }
}
