.skin-blue {
  .main-sidebar{
    // position: fixed;
    background-color: #ecf0f5 !important;

    li.header {
      color: #848383 !important;
      background: #ecf0f5 !important;
    }
  }

  .sidebar-menu > li:hover > a,
  .sidebar-menu > li.active > a {
    color: #ffffff;    
    background: #fff !important;
    border-left-color: $keppler-color !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  }

  .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #fff !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    color: #848383 !important;
  }

  .sidebar-menu > li:hover > .treeview-menu {
    margin: 0 1px;
    background: #fff !important;
    color: #848383 !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  }

  .sidebar {
    min-height: 84vh;
    margin: 1% !important;;
    a {
      color: #424242 !important;
      span {
        margin-left: 10px;
      }
    }
  }


  .user-panel {
    // background-image: url('profile-menu.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 0px;
    white-space: initial;
    color: #424242 !important;
  }

  .user-panel > .info > small {
    color: #5a5a5a;;
    margin-bottom: 9px !important;
  }

  .text-success {
    color: #2ade2e !important;
  }
}


body .side-img-profile {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  transition: .2s;
  box-shadow: 1px 1px 2px #c0c0c0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
  top: 0;
  margin-left: -3px;
  padding: 12px 5px 12px 20px;
  background-color: inherit;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}