// Luiz Stylesheets
= stylesheet_link_tag 'keppler_luiz/application', media: 'all', 'data-turbolinks-track': true
// Luiz Javascripts
= javascript_include_tag 'keppler_luiz/application', 'data-turbolinks-track': true