= simple_form_for customize, url: admin_customize_install_default_path(customize), method: :post do
  - if customize.installed == false
    %label.switch.pull-right
      %input{ name: 'customize[installed]', type: 'hidden', value: 'true' }
      %input#default_switch_on{ name: 'customize[installed]', type: 'checkbox', value: 'true' }
      %span.slider.round{ onclick: "$('#edit_customize_#{customize.id}').submit(); $('.spinner').css('display', 'block')" }
  - else
    %label.switch.pull-right
      %input{ name: 'customize[installed]', type: 'hidden', value: 'false' }
      %input.active#default_switch_off{ name: 'customize[installed]', type: 'checkbox', value: 'false', checked: 'checked' }
      %span.slider.round{ onclick: "$('#edit_customize_#{customize.id}').submit(); $('.spinner').css('display', 'block')" }
