.pull-right
  = simple_form_for [:admin, customize] do |f|
    %label
      - if customize.installed == false
        %span.status.pull-left No installed
        .switch.pull-right
          %input{ name: 'customize[installed]', type: 'hidden', value: 'true' }
          %input#default_switch{ name: 'customize[installed]', type: 'checkbox', value: 'true'}
          %label.label-default{ for: 'default_switch', onclick: "installTemplate(#{customize.id})"}

      - else
        %span.status.pull-left Installed
        .switch.pull-right
          %input{ name: 'customize[installed]', type: 'hidden', value: 'false' }
          %input#default_switch{ name: 'customize[installed]', type: 'checkbox', value: 'false', checked: 'checked' }
          %label.label-default{ for: 'default_switch', onclick: "installTemplate(#{customize.id})" }

:javascript
  function installTemplate(customize_id) {
    $('#spinner').css('display', 'block')
    $('#edit_customize_'+customize_id).submit()
  }
