.pull-right
  = simple_form_for [:admin, customize] do
    %label
      - if customize.installed == false
        %label.switch.pull-right
          %input{ name: 'customize[installed]', type: 'hidden', value: 'true' }
          %input#default_switch_on{ name: 'customize[installed]', type: 'checkbox', value: 'true' }
          %span.slider.round{ onclick: "installTemplate(#{customize.id})" }
      - else
        %label.switch.pull-right
          %input{ name: 'customize[installed]', type: 'hidden', value: 'false' }
          %input.active#default_switch_off{ name: 'customize[installed]', type: 'checkbox', value: 'false', checked: 'checked' }
          %span.slider.round{ onclick: "installTemplate(#{customize.id})" }

:javascript
  function installTemplate(customize_id) {
    $('.spinner').css('display', 'block')
    $('#edit_customize_'+customize_id).submit()
  }
