
.col-lg-6
	.box.slice-box
		.box-header.with-border
			%h3.box-title Preview

		/ /.box-header
		.box-body.box-body-no-padding.hidden-xs{style:"height: 325px;flow:hidden;overflow:hidden;"}
			%iframe{src: "#{root_path}", frameborder:"0", style:"height:250%;width:250%;zoom:1.8;transform:scale(0.4);transform-origin:0 0;"}
.col-lg-6
	.box.slice-box
		.box-header.with-border
			%h3.box-title Frontend Theme

		/ /.box-header
		.box-body
			%table.bordered
				%tbody
					- @objects.each do |customize|
						= render 'listing', customize: customize
					- if @objects.size.zero?
						%tr
							%td{colspan: "4"}
								%center
									= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.customizes"))
			= paginate @objects, window: 1
