!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grupo Brieva - Casos de éxito
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Grandes Creativos que sabemos Hacer Marcas Exitosas", :name => "description"}/
    %meta{:content => "slicegroup.xyz", :name => "author"}/
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
    / CORE CSS
    %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/animate.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    / /////// Botón para ir al principio
    %a.ir-arriba-cont.hidden-xs{:href => "#inicio"}
      / <i class="fa fa-chevron-circle-up fa-2x ir-arriba"></i>
      %span.ir-arriba
        %img{:alt => "...", :src => "assets/img/flecha2.png"}/
    / */Botón para ir al principio
    /
      ********************
      *************************
      HEADER
      *********************
    %header#header-exito
      %section.container{:style => "position: relative; min-height: 50vh; height: auto;"}
        #cont-logotipo
          #logotipo
            / MARCA
            #marca
              %a{:href => "index.html"}
                %img{:src => "assets/img/logo_peq.png"}/
            / BURGER BUTTON
            #burger-button
              #bars
                %span.top
                %span.middle
                %span.bottom
          / /.logotipo
          #hora.hidden-xs
            #icono-hora
              %img{:src => "assets/img/icono_sol.png"}/
            #texto-hora
              %span 3.39 PM. Abierto ahora
          / /.hora
        / /.cont-logotipo
        %nav#menu.menu
          / menu
          .container
            %p#tu-dominio
              %a.link-menu{:href => "search.html", :target => "_top"} Encuentra tu dominio
            .row
              / MENU DE NAVEGACION
              #menu-agencia.col-sm-6
                %a.link-menu{:href => "aboutus.html", :target => "_top"} Nuestra Agencia
                %br/
                %a.link-menu{:href => "success.html", :target => "_top"} Proyectos con éxito
                %br/
                %a.link-menu{:href => "webdesing.html", :target => "_top"} Diseño de Páginas Web
                %br/
                %a.link-menu{:href => "digital.html", :target => "_top"} Mercadeo Digital
                %br/
                %a.link-menu{:href => "services.html", :target => "_top"} Servicios
                %br/
                %a.link-menu{:href => "blog.html", :target => "_top"} Notas para la Comunidad
                %br/
                %a.link-menu{:href => "#contactos"} Contactos
                %br/
                #menu-redes
                  %a.link-menu{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"} INSTAGRAM
                  %a.link-menu{:href => "https://www.facebook.com/grupobrieva", :target => "_blank"} FACEBOOK
                  %a.link-menu{:href => "https://plus.google.com/+juancarlosbrievadesigners", :target => "_blank"} GOOGLE+
              / /.menu de navegación
              / DATOS
              #datos.col-sm-6
                #datos1.mt-8
                  %p.color-blanco.sfpro.texto-2_5 Sede Cartagena
                  (57 5) 643 0188
                  %br/
                  +57 301 324 5468
                  %br/
                  %a{:href => "mailto:contacto@grupobrieva.com"} contacto@grupobrieva.com
                  %br/
                  %address Manga, Cl. 20 #25-82
                  %a#ver-mapa{:href => ""} Ver cómo llegar en el mapa
                #datos2.mt-8
                  %p.color-blanco.sfpro.texto-2_5 Sede Medellín
                  +57 301 795 7845
                  %br/
                  %a{:href => "mailto:antonio@grupobrieva.com"} antonio@grupobrieva.com
                  %br/
                  %address Centro comercial Río Sur
                  %a#ver-mapa{:href => ""} Ver cómo llegar en el mapa
              / /.datos
          / /.container
        #header-exito-texto.mt-14.mb-7
          %p.sfpro.color-verde.texto-2_5 Diseñamos con un proposito. Diseñamos para Humanos
          %br/
          %p.sfreg.texto-5
            Gracias a nuestras
            = succeed "," do
              %span.color-azul ideas
            %span.color-rojo calidad
            y
            %span.color-verde responsabilidad
            hemos logrado desarrollar proyectos que alcanzan y cumplen objetivos exitosos. Ejemplos
        / /.header-exito-texto
      / /.container
    / /.HEADER
    %section#exitos-galeria
      .container
        %ul.nav.nav-pills.mb-10
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "all", :href => "javascript:void(0);"} Ver todos
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "web", :href => "javascript:void(0);"} Ver páginas web exitosas
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "redes", :href => "javascript:void(0);"} Ver campañas de redes sociales
          %li
            %a.filter-button.link-azul-gris{"data-filter" => "google", :href => "javascript:void(0);"} Ver campañas de Google Adwords
        .portfolio-p
          / Caso de exito
          %a{:href => "success_ej.html", :target => "_top"}
            .web.filter.wow.animated.fadeInUp
              %img.img-responsive{:alt => "Foto caso de exito", :src => "assets/img/exito-labonga.jpg"}/
              .cont
                %div
                  %img{:alt => "...", :src => "assets/img/logo-exito-blanco.png", :style => "width: 21.8rem; height: auto;"}/
                .texto
                  %p.texto-2_5.sfreg.color-blanco Diseño plataforma web de reservas
                  %p.texto-5.sfpro.color-blanco
                    La Bonga Del Sinú
                    %br>/
                    Colombia.
                %div
                  %img.pull-right{:alt => "Logotipo", :src => "assets/img/logo-exito-labonga.png", :style => "width: 21.8rem; height: auto;"}/
          / /. Caso de exito
          / Caso de exito
          %a{:href => "success_ej.html", :target => "_top"}
            .redes.filter.wow.animated.fadeInUp
              %img.img-responsive{:alt => "Foto caso de exito", :src => "assets/img/exito-delipostres.jpg"}/
              .cont
                %div
                  %img{:alt => "...", :src => "assets/img/logo-exito-blanco.png", :style => "width: 21.8rem; height: auto;"}/
                .texto
                  %p.texto-2_5.sfreg.color-blanco Campaña de lanzamiento masiva en redes sociales
                  %p.texto-5.sfpro.color-blanco
                    Delipostres Repostería
                    %br>/
                    Bolívar y la Costa.
                %div
                  %img.pull-right{:alt => "Logotipo", :src => "assets/img/logo-exito-delipostres.png", :style => "width: 21.8rem; height: auto;"}/
          / /. Caso de exito
          / Caso de exito
          %a{:href => "success_ej.html", :target => "_top"}
            .google.filter.wow.animated.fadeInUp
              %img.img-responsive{:alt => "Foto caso de exito", :src => "assets/img/exito-barugrande.jpg"}/
              .cont
                %div
                  %img{:alt => "...", :src => "assets/img/logo-exito-blanco.png", :style => "width: 21.8rem; height: auto;"}/
                .texto
                  %p.texto-2_5.sfreg.color-blanco Conversiones en campaña de Google Adwords
                  %p.texto-5.sfpro.color-blanco
                    Barúgrande Beach House
                    %br>/
                    Proyecto de casas
                    %br>/
                    marinas.
                %div
                  %img{:alt => "...", :src => "assets/img/logo-exito-blanco.png", :style => "width: 21.8rem; height: auto;"}/
          / /. Caso de exito
          / Caso de exito
          %a{:href => "success_ej.html", :target => "_top"}
            .redes.filter.wow.animated.fadeInUp
              %img.img-responsive{:alt => "Foto caso de exito", :src => "assets/img/exito-ccnao.jpg"}/
              .cont
                %div
                  %img{:alt => "...", :src => "assets/img/logo-exito-blanco.png", :style => "width: 21.8rem; height: auto;"}/
                .texto
                  %p.texto-2_5.sfreg.color-blanco Diseño visual de Campaña / Promotional Branding
                  %p.texto-5.sfpro.color-blanco
                    Centro Comercial Nao
                    %br>/
                    Fun + Shopping.
                %div
                  %img.pull-right{:alt => "Logotipo", :src => "assets/img/logo-exito-ccnao.png", :style => "width: auto; height: 11rem;"}/
          / /. Caso de exito
          / Caso de exito
          %a{:href => "success_ej.html", :target => "_top"}
            .web.filter.wow.animated.fadeInUp
              %img.img-responsive{:alt => "Foto caso de exito", :src => "assets/img/exito-chakipi.jpg"}/
              #cont-img.cont
                %div
                  %img{:alt => "...", :src => "assets/img/logo-exito-blanco.png", :style => "width: 21.8rem; height: auto;"}/
                .texto
                  %p.texto-2_5.sfreg.color-blanco Diseño de experiencia web inteligente
                  %p.texto-5.sfpro.color-blanco
                    Chakipi Colombia -
                    %br>/
                    Clinton Foundation.
                %div
                  %img.pull-right{:alt => "Logotipo", :src => "assets/img/logo-exito-chakipi.png", :style => "width: 21.8rem; height: auto;"}/
                  %img.pull-right{:alt => "Logotipo", :hspace => "40", :src => "assets/img/logo-exito-clinton.png", :style => "width: auto; height: 6.5rem"}/
          / /. Caso de exito
        / /.portfolio-p
      / /.container
    / /.exitos-galeria
    / SEPARADOR
    %section.separador.hidden-xs{:style => "height: 30rem; background-color: white; width: 100%;"}
    / /.SEPARADOR
    /
      ***************************
      CTA-CASOS
    %section#casos-cta.casos-cta
      .container
        .row
          .col-sm-6.col-xs-12
            / Caso de exito
            %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"}
              .proyecto.wow.animated.fadeInUp
                %img.img-responsive.img-fondo{:alt => "Foto caso de exito", :src => "assets/img/proyecto-ote.jpg"}/
                .cont
                  .texto.mt-2
                    %p.texto-2_5.sfreg.color-blanco Proyecto en progreso
                    %p.texto-5.sfpro.color-blanco OTE - Operación Técnica de Eventos Colombia.
                  %div
                    %img.pull-right{:alt => "...", :src => "assets/img/logo-proyecto-ote.png", :style => "width: 12rem; height: auto;"}/
              / /. Caso de exito
          / /.col-sm-6 col-xs-12
          .col-sm-6.col-xs-12
            / Caso de exito
            %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"}
              .proyecto.wow.animated.fadeInUp
                %img.img-responsive.img-fondo{:alt => "Foto caso de exito", :src => "assets/img/proyecto-capmike.jpg"}/
                .cont
                  .texto.mt-2
                    %p.texto-2_5.sfreg.color-blanco Proyecto en progreso
                    %p.texto-5.sfpro.color-blanco
                      The Captain Mike.
                      %br>/
                      Global Sailing Boats Service.
                  %div
                    %img.pull-right{:alt => "...", :src => "assets/img/logo-proyecto-capmike.png", :style => "width: 7.5rem; height: auto;"}/
              / /. Caso de exito
          / /.col-sm-6 col-xs-12
        / /.row
      / /.container
    / /.CTA-CASOS
    %section#contactos.contactos-services
      .container
        .row
          .col-sm-6.col-xs-12.contactos-services-cont
            .wip.color-blanco
              %p.texto-4.sfpro Proyectos en desarrollo #wip
              %p.texto-2_5.sfreg
                Sígue nuestra actividad y revisa en nuestro
                %a{:href => "https://www.instagram.com/grupobrieva/", :target => "_blank"} portafolio de instagram
                que proyecto estamos diseñando.
              %br/
              #aboutus-rrss.center-block.text-center
                %i.fa.fa-facebook{"aria-hidden" => "true"}
                %i.fa.fa-instagram{"aria-hidden" => "true"}
          / /.contactos-services-cont
          .col-sm-6.col-xs-12
            #formulario
              %span.sfreg.color-blanco.texto-2_5 PRIMERO ASESORATE
              %br/
              %p.sfreg.color-blanco.texto-4.mb-3 Nosotros te ayudamos, es gratis
              %form.formulario
                %input#nombre.campo{:name => "nombre", :placeholder => "Nombre y apellido", :required => "", :type => "text"}/
                %input#email.campo{:name => "email", :placeholder => "E-mail", :required => "", :type => "email"}/
                %input#telefono.campo{:name => "telefono", :placeholder => "Teléfono", :required => "", :type => "text"}/
                %input.btn.btn-violeta.pull-right.sfreg.texto-2{:type => "submit", :value => "Enviar"}/
              / /.formulario
          / /.col-sm-6 col-xs-12
        / /.row
      / /.container
    / /.aboutus-cta
    /
      ************************
      FOOTER
      ************************
    %footer
      .container
        .footer-cont
          %img{:alt => "...", :src => "assets/img/icono.png"}/
          %p
            Agencia de Publicidad Digital / Diseño Gráfico y Diseño de páginas web. Teléfono (5) 643 0188 - +57 301 324 5468 - contacto@grupobrieva
            %br/
            = succeed "\u{a0}\u{a0}\u{a0}\u{a0}" do
              %a{:href => "legal.html"} Cookies y Politica de privacidad
            = succeed "\u{a0}\u{a0}\u{a0}" do
              %a{:href => "http://www.grupobrieva.com/"} Diseñado por Grupo Brieva
            %a{:href => "http://slicegroup.xyz/"} Desarrollado por Slice group
        / /.footer-cont
      / /.container
    / FOOTER
    /
      *******************
      Core JS
      *********************
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/bootstrap.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick.js", :type => "text/javascript"}
    %script{:src => "assets/js/slick-custom.js", :type => "text/javascript"}
    %script{:src => "assets/js/brieva.js", :type => "text/javascript"}
    %script{:src => "assets/js/wow.js", :type => "text/javascript"}
    / <script type="text/javascript" src="assets/js/npm.js"></script>
